.main-layout:has(.wap-footer.coffee-shop.footer) {
    background-color: #333333;
}

.wap-footer {


    &.coffee-shop {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: $bakery-bg;
        height: 12vh;

        p {
            margin: 0;
            color: $bakery-bg;
        }

        .logo {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5em;
        }

        .copyright {
            font-size: em(13px);
            text-align: center;
        }
    }
}