.main-layout:has(.coffee-shop.wap-container) {

    background-size: cover;
    background-position: right;
    // background-color: aqua;
}

.wap-container {
    font-size: 1rem;

    &.coffee-shop {
        * {
            color: $text-primary;
        }

        >div:has(.coffee-shop.hero) {
            display: flex;
            align-items: center;
            height: 670px;

            .mobile & {
                justify-content: center;
            }
        }


        .wap-card.hero {
            display: flex;
            flex-direction: column;
            background-color: #332f29da;
            width: 50%;
            max-width: 650px;
            height: 85%;
            padding: 2.5em 1.5em 2em 1.5em;
            border-radius: 1em;

            * {
                color: $coffee-bg;
            }

            .mobile & {
                width: 95%;
            }

            h1 {
                font-size: 44px;
                font-weight: bold;
                margin-bottom: 16px;

                .small & {
                    font-size: 35px;
                }

                .medium & {
                    font-size: 49px;
                }

                .narrow & {
                    font-size: 60px;
                }

                .wide & {
                    font-size: 85px;
                }

            }

            p {
                flex: 1;
                line-height: 2.1;
                margin: 0;
                font-size: 1.2em;

                .small & {
                    line-height: 1.2;
                }

                .medium & {
                    line-height: 1.4;
                    font-size: 1.5em;
                }


            }

            button {
                width: fit-content;
                text-transform: uppercase;
                padding: 1em 3em;
                background-color: transparent;
                border: 2px solid $coffee-bg;
                font-size: 1em;
                letter-spacing: 2px;
                border-radius: 3em;

                .medium & {
                    font-size: 1.2em;
                }
            }
        }

        &.img-pill-cards {
            padding: 3em;
            display: grid;
            grid-template-columns: 1fr;

            gap: 2em;
            grid-template-areas:
                "tl"
                "bl"
                "tr"
                "br";

            margin: auto;
            width: 100%;
            $img-height: 50px;

            .wide & {
                $img-height: 20em;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 0.7fr 1fr;
                grid-template-areas:
                    "tl tr"
                    "tl br"
                    "bl br";
                width: 1200px;
            }

            .wap-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
                position: relative;

                img {
                    margin: 0;
                    object-fit: contain;
                    height: $img-height;
                    width: 100%;
                }

                p {
                    // text-align: center;
                }
            }

            > :nth-child(1) {
                grid-area: tl;

                p {
                    flex: 1;
                }

                img {
                    object-position: bottom;
                }

            }

            > :nth-child(2) {
                grid-area: tr;
                background-color: #c2ad91;
                border-radius: 1.5em;
                padding: 1em;
                height: $img-height;
            }

            > :nth-child(3) {
                grid-area: bl;
                background-color: #c2ad91;
                border-radius: 1.5em;
                padding: 1em;
                height: $img-height;
            }

            > :nth-child(4) {
                grid-area: br;


                .wap-card {
                    height: 100%;
                    display: flex;
                    flex-direction: column-reverse;

                    p {
                        flex: 1;
                    }

                    img {
                        object-position: top;
                    }

                }

            }
        }
    }
}