.main-layout:has(.coffee-shop.wap-container) {

    background-size: cover;
    background-position: right;
    // background-color: aqua;
}

.wap-container {
    font-size: 1rem;

    &.coffee-shop {
        * {
            color: $text-primary;
        }

        >div:has(.coffee-shop.hero) {
            display: flex;
            align-items: center;
            height: 670px;

            .mobile & {
                justify-content: center;
            }
        }


        .wap-card.hero {
            display: flex;
            flex-direction: column;
            background-color: #332f29da;
            width: 50%;
            max-width: 650px;
            height: 85%;
            padding: 2.5em 1.5em 2em 1.5em;
            border-radius: 1em;

            .card-details {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            * {
                color: $coffee-bg;
            }

            .mobile & {
                width: 95%;
            }

            h1 {
                font-size: 44px;
                font-weight: bold;
                margin-bottom: 16px;

                .small & {
                    font-size: 35px;
                }

                .medium & {
                    font-size: 49px;
                }

                .narrow & {
                    font-size: 60px;
                }

                .wide & {
                    font-size: 85px;
                }

            }

            p {
                flex: 1;
                line-height: 2.1;
                margin: 0;
                font-size: 1.2em;

                .small & {
                    line-height: 1.2;
                }

                .medium & {
                    line-height: 1.4;
                    font-size: 1.5em;
                }


            }

            button {
                width: fit-content;
                text-transform: uppercase;
                padding: 1em 3em;
                background-color: transparent;
                border: 2px solid $coffee-bg;
                font-size: 1em;
                letter-spacing: 2px;
                border-radius: 3em;

                .medium & {
                    font-size: 1.2em;
                }
            }
        }

        &.img-pill-cards {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            position: relative;
            transform: translateY(-70px);

            gap: 2em;
            grid-template-areas:
                "h1"
                "tl"
                "bl"
                "tr"
                "br";

            margin: auto;
            width: 100%;
            $img-height: 50px;
            padding: 1em;

            * {
                color: #111;
            }

            .small & {
                transform: translateY(0px);
            }

            .narrow &,
            .wide & {
                padding: 3em;
                $img-height: 20em;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: min-content 1fr 0.7fr 1fr;
                grid-template-areas:
                    "h1 h1"
                    "tl tr"
                    "tl br"
                    "bl br";
                width: 1030px;
            }

            .wap-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
                position: relative;

                img {
                    margin: 0;
                    object-fit: contain;
                    height: $img-height;
                    width: 100%;

                }

                p {
                    font-size: 1.5em;
                }
            }

            > :nth-child(1) {
                grid-area: h1;
                text-align: center;
                font-weight: bold;
                position: relative;
                font-size: 3em;
                transform: translateY(100px);

                .small & {
                    font-size: 3.5em;
                    transform: translateY(30px);
                }

                .medium &,
                .narrow &,
                .wide & {
                    font-size: 4em;
                    transform: translateY(0);
                }
            }

            > :nth-child(2) {
                grid-area: tl;

                .wap-card {
                    flex-direction: column-reverse;

                    p {
                        flex: 1;

                    }

                    img {
                        object-position: bottom;

                    }
                }

            }

            > :nth-child(3) {
                grid-area: tr;
                color: $coffee-bg;
                background-color: #c2ad91;
                border-radius: 1.5em;
                padding: 1em;
                height: $img-height;
                display: flex;
                align-items: center;

                p {
                    color: $coffee-bg;

                    &:first-child {
                        font-weight: bold;
                    }
                }
            }

            > :nth-child(4) {
                grid-area: bl;
                background-color: #c2ad91;
                border-radius: 1.5em;
                padding: 1em;
                height: $img-height;
                display: flex;
                align-items: center;

                p {
                    color: $coffee-bg;

                    &:first-child {
                        font-weight: bold;
                    }
                }

            }

            > :nth-child(5) {
                grid-area: br;


                .wap-card {
                    height: 100%;
                    display: flex;


                    p {
                        flex: 1;
                    }

                    img {
                        object-position: top;
                    }

                }

            }
        }

        &.ice-cream {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 13em 13em;
            width: 50%;
            margin-inline-start: auto;
            height: 700px;
            place-content: center;
            gap: 30px;

            .wap-card {
                * {
                    color: $coffee-bg;
                }

                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.512);
                border-radius: 15px;
                justify-content: center;
                gap: 1em;

                h1 {
                    font-family: Lato, sans-serif;
                }

                img {
                    filter: invert(117%) sepia(3%) saturate(1000%) hue-rotate(280deg);
                }
            }
        }
    }


}