.wap-container-wrapper.doda-cards {
    overflow: hidden;
    display: flex;
    justify-content: center;

    .mobile & {
        margin-top: 0em;
        padding-top: 15em;
    }

    padding-block: 1em;

    .narrow & {
        margin-top: 0;
        padding-top: 0;
    }
}

.wap-container-wrapper.shower-cards {
    background-color: #BFA98B;
    padding-top: 1.5em;

    .mobile &,
    .small & {
        padding-top: 6em;

    }

    .medium & {
        padding-top: 6em;
    }
    .tablet-display  &{
        padding-top: 1.5em;
        
    }

    .narrow &,
    .normal & {
        padding-top: 6em;

    }
}

.wap-container {

    &.coffee-shop {
        * {
            color: $text-primary;
        }


        &.doda-cards {
            position: relative;
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: flex-end;
            width: 90%;
            $img-height: 900px;
            flex-wrap: wrap;
            margin-bottom: 2em;


            .narrow & {
                flex-wrap: nowrap !important;
                height: $img-height;
            }



            >div:has(.wap-card) {

                .small &,
                .medium & {
                    width: 40%;
                }

                .narrow & {

                    margin-bottom: 5em;
                }



            }

            // position: relative;
            .wap-img {
                z-index: -1;
                width: 99%;
                position: absolute;
                height: $img-height;
                transform: translate(-20%, 25px);

                .mobile & {
                    top: 0;
                    transform: translateY(-30%);

                }

                .narrow & {
                    transform: translate(-20%);
                    padding: 0;
                }
            }

            img {

                width: 110%;
                height: 50%;
                object-fit: cover;
                object-position: center -100px;
                transform: translateX(-5%);

                .small & {

                    transform: translateX(0);
                    width: 140%;
                    height: 120%;

                }
            }


            .wap-card {
                // background-color: antiquewhite;
                box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.3);
                border-radius: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 14em;
                background-color: #fff;
                height: 20em;

                .mobile & {
                    height: inherit;
                }

                .mobile &,
                .small &,
                .medium & {
                    width: 100%;
                }



                h1 {
                    color: #BFA98B;
                    font-size: 3em;
                    padding-inline-start: 15px;
                    padding-top: 10px;
                    margin-bottom: 10px;
                }

                p:nth-of-type(1) {
                    font-size: 1.4em;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                p:nth-of-type(2) {

                    font-style: italic;
                }

                p {
                    padding-inline-start: 15px;
                    padding: 1em;


                }
            }
        }

        &.shower-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            padding: 40px;



            h1 {
                position: absolute;
                transform: translateY(-110px);
                color: $coffee-bg;
                font-size: 4em;
                font-weight: bold;

                .mobile & {
                    font-size: 3em;

                }

            }

            .wap-card {
                width: 100%;
                background-color: rgb(238, 233, 233);
                border-radius: 1.5em;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em;
                position: relative;

                .small & {
                    width: 90%;
                }

                .medium & {
                    width: 20em;
                }

                .narrow & {
                    width: 17em;
                }

                .normal & {
                    width: 20em;
                }

                .wide & {
                    width: 22em;
                }


            }

            img {
                width: 100%;
                border-radius: 1.5em;
                order: -1;

            }

            .card-details {

                >p:first-child {
                    margin-top: 1em;
                    color: #bfa98b;
                    font-weight: bold;
                    font-size: 1.5em;

                    .medium & {
                        font-size: 0.9em;
                    }

                    .narrow & {
                        font-size: 1.5em;
                    }
                }

                p:nth-child(2) {
                    margin-bottom: 2em;
                }


                >span {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    p {
                        color: #bfa98b;
                        font-size: 2em;
                        font-weight: bold;
                        margin: 0;

                        .narrow & {
                            font-size: 2em;
                        }

                        &::after {
                            content: "$";
                        }
                    }

                    button {
                        border-radius: 1.5em;
                        font-size: 1.7em;
                        color: $coffee-bg;
                        background-color: #bfa98b;
                        padding: 0.5em 1em;

                        .narrow & {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }

}