.main-layout:has(.coffee-shop.wap-container) {

    background-size: cover;
    background-position: right;
}

.wap-container {
font-size: 1rem;
    &.coffee-shop {
        * {
            color: $text-primary;
        }

        >div {
            display: flex;
            align-items: center;
            height: 670px;

            .mobile & {
                justify-content: center;
            }
        }


        .wap-card.hero {
            display: flex;
            flex-direction: column;
            background-color: #332f29da;
            width: 50%;
            max-width: 650px;
            height: 85%;
            padding: 2.5em 1.5em 2em 1.5em;
            border-radius: 1em;

            * {
                color: $coffee-bg;
            }

            .mobile & {
                width: 95%;
            }

            h1 {
                font-size: 44px;
                font-weight: bold;
                margin-bottom: 16px;

                .small & {
                    font-size: 35px;
                }

                .medium & {
                    font-size: 49px;
                }

                .narrow & {
                    font-size: 60px;
                }

                .wide & {
                    font-size: 85px;
                }

            }

            p {
                flex: 1;
                line-height: 2.1;
                margin: 0;
                font-size: 1.2em;
                .small &{
                    line-height: 1.2;
                }
                .medium &{
                    line-height: 1.4;
                    font-size: 1.5em;
                }
    
    
            }
            button{
                width: fit-content;
                text-transform: uppercase;
                padding: 1em 3em;
                background-color: transparent;
                border: 2px solid $coffee-bg;
                font-size: 1em;
                letter-spacing: 2px;
                border-radius: 3em;
                .medium &{
                    font-size: 1.2em;
                }
            }
        }



        &.img-pill-cards {
            display: grid;
            width: 80%;
            margin: auto;
            grid-template-areas:
                "tl tr"
                "tl br"
                "bl br";

            // gap: 15px;

            .wap-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 10em;
                gap: 15px;
                position: relative;

                img {
                    height: 10em;
                    margin: 0;
                }

                p {
                    // text-align: center;
                }
            }

            > :nth-child(1) {
                grid-area: tl;
                height: 20em;
                img{
                    height: 20em;
                    object-fit: contain;
                }

                p {
                    height: 10em;
                }

            }

            > :nth-child(2) {
                grid-area: tr;
                // height: 12em;
                display: block;

                background-color: #c2ad91;
                border-radius: 1.5em;
            }

            > :nth-child(3) {
                grid-area: bl;
                background-color: #c2ad91;
            }

            > :nth-child(4) {
                grid-area: br;
                img{
                    height: 20em;
                    object-fit: contain;
                }

                .wap-card {
                    flex-direction: column-reverse;
                    justify-content: st;
                    height: 100%;
                }
            }
        }
    }
}