.wap-container-wrapper:has(.doda-cards) {
    overflow: hidden;
    padding-bottom: 5em;
    padding-top: 5em;
    margin-top: 5em;
    display: flex;
    justify-content: center;

    .mobile & {
        margin-top: 0em;
        padding-top: 15em;
    }

    .narrow & {
        margin-top: 0;
        padding-top: 0;
    }
}

.wap-container-wrapper.shower-cards {
    background-color: #BFA98B;
    padding-top: 6em;
}

.wap-container {

    &.coffee-shop {
        * {
            color: $text-primary;
        }





        &.doda-cards {
            position: relative;
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: flex-end;
            width: 90%;
            $img-height: 900px;
            flex-wrap: wrap;
            margin-bottom: 2em;


            .narrow & {
                flex-wrap: nowrap !important;
                height: $img-height;
            }



            >div:has(.wap-card) {

                .small &,
                .medium & {
                    width: 40%;
                }

                .narrow & {

                    margin-bottom: 5em;
                }



            }

            // position: relative;
            .wap-img {
                z-index: -1;
                width: 99%;
                position: absolute;
                height: $img-height;
                transform: translateX(-20%);

                .mobile & {
                    top: 0;
                    transform: translateY(-30%);

                }

                .narrow & {
                    padding: 0;
                }
            }

            img {

                width: 110%;
                height: 50%;
                object-fit: cover;
                object-position: center -100px;
                transform: translateX(-5%);

                .small & {

                    transform: translateX(0);
                    width: 140%;
                    height: 120%;

                }
            }


            .wap-card {
                // background-color: antiquewhite;
                box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.3);
                border-radius: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 14em;
                background-color: #fff;
                height: 20em;

                .mobile & {
                    height: inherit;
                }

                .mobile &,
                .small &,
                .medium & {
                    width: 100%;
                }



                h1 {
                    color: #BFA98B;
                    font-size: 3em;
                    padding-inline-start: 15px;
                    padding-top: 10px;
                    margin-bottom: 10px;
                }

                p:nth-of-type(1) {
                    font-size: 1.4em;
                    font-weight: bold;
                }

                p:nth-of-type(2) {

                    font-style: italic;
                }

                p {
                    padding-inline-start: 15px;


                }
            }
        }

        &.shower-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            padding: 40px;



            h1 {
                position: absolute;
                transform: translateY(-110px);
                color: $coffee-bg;
                font-size: 4em;
                font-weight: bold;

            }

            .wap-card {
                width: 100%;
                background-color: rgb(238, 233, 233);
                border-radius: 1.5em;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em;
                position: relative;

                .small &{
                    width: 90%; 
                }
                .medium & {
                    width: 12em;
                }
                
                .narrow & {
                    width: 17em;
                }
                .wide &{width: 22em;}

                p:first-child {
                    margin-top: 1em;
                    color: #bfa98b;
                    font-weight: bold;
                    font-size: 1.5em;

                    .medium & {
                        font-size: 0.9em;
                    }
                }

                p:nth-child(2) {
                    margin-bottom: 5em;
                }


            }

            img {
                width: 100%;
                border-radius: 1.5em;
                order: -1;

            }

            p:last-of-type {
                position: absolute;
                left: 30px;
                bottom: 5px;
                color: #bfa98b;
                font-size: 2em;
                font-weight: bold;

                .narrow & {
                    font-size: 1.8em;
                }
            }

            button {
                position: absolute;
                border-radius: 1.5em;
                font-size: 1.7em;
                right: 15px;
                color: $coffee-bg;
                background-color: #bfa98b;
                bottom: 21px;
                padding: 0.3em 0.7em;

                .narrow & {
                    font-size: 1.5em;
                }
            }
        }
    }

}