.wap-container {

    &.coffe-shop {

        * {
            color: $text-primary;
        }

        @media (max-width: 650px) {
            flex-direction: column;
        }

        padding-top: clamp(10px, 5%, 50px);
        padding-bottom: clamp(10px, 5%, 50px);

        &.img-pill-cards {
            display: grid;
            // grid-template-columns: repeat(2, minmax(100px, 1fr));
            // grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "tl tr"
                "ml mr"
                "bl br";
            gap: 15px;


            .wap-card {
                display: flex;
                flex-direction: column;
                // margin-inline-start: 2vw;
                // margin-inline-end: 2vw;

                img {
                    width: 100%;
                }
            }

            >:nth-child(1) {

                // flex-direction: column-reverse;
                .wap-card {}

                img {
                    grid-area: tl;
                }

                p {
                    grid-area: ml;
                    // grid-column: 1 / 2;
                    // grid-row: 2 / 3;
                }

                // display: flex;
                // flex-direction: column;
                // justify-content: space-between;
                // .wap-card{
                //     height: 100%;
                // }
                // background-color: rgb(209, 143, 37);
                // margin-top: 20px;
                // .wap-card{
                //     gap:20px;
                // }

            }

            >:nth-child(2) {
                // flex-direction: column-reverse;
                // background-color: rgb(57, 173, 28);
                // grid-column: 2 / 3;
                // grid-row: 1 / 2;

                background-color: #C2AD91;
                //  padding: 10px;
                border-radius: 1.5em;

                .wap-card {}
            }

            >:nth-child(3) {
                // flex-direction: column-reverse;
                // background-color: rgb(92, 92, 177);
                // grid-column: 1 / 2;
                // grid-row: 3 / 4;
                // background-color: #C2AD91;
                // padding: 15px;
                // border-radius: 1.5em;

                .wap-card {}
            }

            >:nth-child(4) {
                // background-color: blue;
                // grid-column: 2 / 3;
                // grid-row: 2 / 4;

                .wap-card {
                    flex-direction: column-reverse;
                    height: 100%;
                }

            }
        }

    }
}