.wap-header {

    &.coffee-shop {
        background: $coffee-bg;
        font-size: 1rem;

        .wap-logo {
            text-transform: uppercase;
            color: $coffee-pr-clr;
            font-size: em(25px);
        }

        .wap-nav {
            font-size: rem(16px);

            a {
                color: $coffee-pr-clr;
                &:hover {
                    color: $coffee-hover;
                    text-decoration: none;
                }
            }

            a:not(:last-child) {

                margin-inline-end: rem(24px);
            }
        }
    }
}