.wap-hero.coffee-shop.hero-gallery{
   padding-top: 2em;

}

.wap-hero {

    &.coffee-shop {
        grid-template-areas:
        "h1"
        "p1"
        "p2"
        "p3" 
        "p4"
        "p5"
        "p6"
        "bt";
        align-content: center;
        gap:3em 0;
        .mobile &{
            gap:1em 0;
            
        }

        .small &,
        .medium & {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "h1 h1"
                "p1 p2"
                "p3 p4"
                "p5 p6"
                "bt bt";
        }

        .narrow & {
            grid-template-areas:
                "h1 h1 h1"
                "p1 p2 p3 "
                "p4 p5 p6 "
                ". bt .";
            grid-template-columns: 1fr 1fr 1fr;
        }

        img {
            width: 90%;
            margin: auto;
            transition: 0.3s;
            aspect-ratio: 1/1;
            object-fit: cover;

            &:hover {
                scale: 1.05;
            }
        }

        >h1 {
            grid-area: h1;
            text-align: center;
            font-size: 3em;
            color: rgb(27, 27, 27);
            font-weight: bold;
     
            .mobile &{
                font-size: 2em;
            }
        }

        >img:nth-of-type(1) {
            grid-area: p1;
        }

        >img:nth-of-type(2) {
            grid-area: p2;
        }

        >img:nth-of-type(3) {
            grid-area: p3;
        }

        >img:nth-of-type(4) {
            grid-area: p4;
        }

        >img:nth-of-type(5) {
            grid-area: p5;
        }

        >img:nth-of-type(6) {
            grid-area: p6;
        }

        >button {
            grid-area: bt;
            background-color: transparent;
            font-size: 1.5em;
            border-radius: 2em;
            padding: 0.5em;
            margin: auto;
            width: 80%;
            border: 1px solid #bfa98b;
            &:hover{
                background-color:#bfa98b ;
                color: $coffee-bg;
            }
        }
    }

}