.wap-container-wrapper:has(.doda-cards) {
    overflow: hidden;
    padding-bottom: 5em;
    padding-top: 5em;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    
    .mobile &{
        margin-top: 0em;
        padding-top: 15em;
    }
    
    .narrow &{
        margin-top: 0;
        padding-top: 0;
    }
}

section:has(.doda-cards) {
    // background-color: aqua;
    // background-size: 100% 50%;
    // background-size: cover;
    // background-repeat: no-repeat;
}

.wap-container {

    &.coffee-shop {
        * {
            color: $text-primary;
        }

       



        &.doda-cards {
            position: relative;
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: flex-end;
            width: 90%;
            $img-height: 900px;
            flex-wrap: wrap;

            .narrow &{
                flex-wrap:nowrap !important;
                height: $img-height;
            }



            >div:has(.wap-card) {
           
                .small &,
                .medium & {
                    width: 40%;
                }
                .narrow &{

                    margin-bottom: 5em;
                }

                

            }

            // position: relative;
            .wap-img {
                z-index: -1;
                width: 99%;
                position: absolute;
                height: $img-height;
                transform: translateX(-20%);
                
                .mobile & {
                    top:0;
                    transform: translateY(-30%);
                    
                }
                .narrow &{
                    padding: 0;
                }
            }

            img {
                
                width: 110%;
                height: 50%;
                object-fit: cover;
                object-position:center -100px;
                transform: translateX(-5%);
                
                .small &{
                    
                    transform: translateX(0);
                    width: 140%;
                    height: 120%;
                    
                }
            }


            .wap-card {
                // background-color: antiquewhite;
                box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.3);
                border-radius: 1.5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 14em;
                background-color: #fff;
                height: 20em;

                .mobile &{
                    height: inherit;
                }
                .mobile &,
                .small &,
                .medium & {
                    width: 100%;
                }



                h1 {
                    color: #BFA98B;
                    font-size: 3em;
                    padding-inline-start: 15px;
                    padding-top: 10px;
                    margin-bottom: 10px;
                }

                p:nth-of-type(1) {
                    font-size: 1.4em;
                    font-weight: bold;
                }

                p:nth-of-type(2) {

                    font-style: italic;
                }

                p {
                    padding-inline-start: 15px;


                }
            }


        }

        &.shower-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            background-color: #BFA98B;
            padding: 40px;

            .wap-card {
                width: 15em;
                background-color: rgb(238, 233, 233);
                border-radius: 1.5em;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            img {
                width: 100%;
                border-top-left-radius: 1.5em;
                border-top-right-radius: 1.5em;
                object-position: top;

            }

            button {
                width: 50%;
                border-radius: 1.5em;
            }
        }
    }

}