main:has(.dashboard)>.main-header {
    padding: 28px;
    padding-bottom: 24px;
}


.dashboard {
    font-family: inter;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);

    .top-dashboard {
        display: flex;
        border-top: 1px solid #5555;
        border-bottom: 1px solid #5555;
        padding: 16px 24px;
        font-family: inter;
        align-items: center;
        background-color: rgb(250, 250, 250);

        h4 {

            font-size: 20px;
            text-transform: capitalize;
        }

        >h4 {
            border-right: 1px solid #5555;
            width: 176px;
        }

        .user-name {
            margin-inline-start: 30px;

            h4 {
                border-right: none;
                margin-inline-start: 27px;
            }
        }

    }

    main {
        display: flex;
        flex: 1;

        .left-user-nav {
            z-index: 10;
            width: 200px;
            padding: 12px;
            border-right: 1px solid #5555;
            display: flex;
            flex-direction: column;
            // overflow-y: hidden;
            font-family: inter;
            position: relative;

            .selected {
                transition: 0s;
                color: lighten($logo-clr, 5);

                /* $ */
            }


            .wap-left-dash,
            .logout-user-dash {

                padding-inline-start: 12px;
                padding-block: 12px;
                border-bottom: 1px solid #5555;
                text-transform: capitalize;
                transition: 0.3s;
                cursor: pointer;
                list-style-type: none;

                &:first-of-type {
                    padding-top: 0;
                }

                &:not(.logout-user-dash):hover {
                    color: lighten($logo-clr, 15)
                }

                &.logout-user-dash {
                    border-top: 1px solid #5555;
                    background-color: #5558;
                    color: #eee;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    padding-inline-start: 0px;
                    font-family: montserratBold;
                }

            }
        }

        .main-dashboard {
            flex: 1;
            // width: 100%;
            // max-width: 1400px;
            // margin-inline: auto;

            .top-half {
                width: calc(100vw - 220px);
                padding: 24px;
                display: flex;
                gap: 24px;
                justify-content: space-between;

                @media (max-width:1000px) {
                    flex-direction: column;

                    .chosen-wap-display {
                        flex-direction: row !important;
                        align-items: center;
                        justify-content: space-between;

                        h3 {
                            margin: 0 !important;
                            min-width: min-content !important;
                        }
                    }

                    .wap-actions-dash {
                        flex-direction: row !important;
                        gap: 10px;

                        button {
                            margin-block: 0 !important;
                            width: 150px !important;
                        }
                    }

                    .prev-img {
                        display: none;
                    }

                }

                .dash-card-wrapper {
                    display: flex;

                    .chosen-wap-display {
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        h3 {
                            max-width: 250px;
                            min-width: 250px;
                            font-size: 24px;
                            padding-inline-start: 6px;
                            border-left: 4px solid $primary-clr;
                            text-transform: capitalize;
                            // margin-inline-start: 4px;
                            margin-bottom: 24px;
                        }

                        // margin-block-start: 5vh;
                        // margin-inline-start: 20px;

                        .prev-img {
                            width: 220px;
                            // margin-inline: auto;
                            border: 8px $primary-clr;
                            margin-bottom: 20px;
                            box-shadow: 0 1px 4px 1px #0000002e;
                        }

                        .wap-actions-dash {
                            display: flex;
                            flex-direction: column;

                            button {
                                width: 220px;
                                font-size: 1em;
                                padding: 12px;
                                transition: 0.2s;
                                font-family: inter;
                                margin-inline: 0;
                                color: #eee;
                                border: 1px solid lighten($logo-clr, 10);

                                &:first-child {
                                    background-color: lighten($logo-clr, 10);
                                    margin-bottom: 12px;

                                    &:hover {
                                        background-color: lighten($logo-clr, 20%);
                                    }
                                }

                                &:last-child {
                                    background-color: transparent;
                                    color: #111;

                                    &:hover {
                                        background-color: lighten($logo-clr, 20%);
                                        color: #eee;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bottom-half {
                .wap-table {
                    padding: 32px;
                    padding-inline-end: 0;

                    // padding: 24px;
                    >div {
                        max-height: 400px;
                        overflow-y: auto;
                        // padding: 24px;
                    }

                    tbody {
                        tr {
                            margin-inline-end: 10px;
                        }
                    }

                    h3 {
                        font-family: inter;
                        font-size: 24px;
                        padding-inline-start: 6px;
                        border-left: 4px solid $primary-clr;
                        text-transform: capitalize;
                        margin-bottom: 24px;
                    }
                }

                .el-table {
                    width: calc(100vw - 245px) !important;
                    transform: translateX(-50px);
                }
            }


            .top-half {
                padding: 32px;

                .chart-line {
                    // margin-block: 40px;
                    // margin-inline-start: 50px;
                    flex: 1;
                    // padding-inline: 20px;
                    // width: 200px !important;

                    .interactions-stats {
                        display: flex;
                        gap: 21px;
                        justify-content: center;
                        color: #444;

                        div {
                            font-family: inter;
                            width: 200px;

                            @media (max-width:1400px) {
                                width: 150px;
                            }

                            @media (max-width:1200px) {
                                width: 100px;

                                h3 {
                                    font-size: 16px !important
                                }
                            }

                            background-color: #9992;
                            height: 80px;
                            display: grid;
                            place-content: center;
                            border-radius: 3px;
                            text-align: center;
                            box-shadow: 3px 3px #3331,
                            inset 3px 2px 5px #eee5;
                            font-size: 16px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 10px;
                            margin-block-end: 20px;
                            transition: filter 0.5s;

                            transition: 0.3s;

                            span {
                                font-family: lato;
                            }

                            h3 {
                                margin-inline: 0;
                                font-family: inter;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-dash-placeholder {
        display: grid;
        grid-template-columns: 10px 1fr 10px;

        @media (min-width: 800px) {
            grid-template-columns: 60px 1fr 60px;
        }

        section {
            .ps-dush-top {
                h2 {
                    font-size: 46px;
                    margin-block: 40px;
                    text-transform: capitalize;
                    margin-inline: 40px;
                    text-align: center;
                }
            }

            .dash-placeholder-txt {
                width: 80%;
                margin-inline: auto;

                p {
                    margin: 0;
                }
            }

            .carousel {
                width: 60%;
                margin-inline: auto;
                margin-block: 20px;
                height: 200px;

                >* {
                    height: 100%;
                }
            }
        }
    }
}