.dashboard {
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 78.5px);
    .top-dashboard {
        display: flex;
        border-top: 1px solid #5555;
        border-bottom: 1px solid #5555;
        padding-block: 10px;
        font-family: montserratBold;
        align-items: center;

        h4 {
            border-right: 1px solid #5555;
            text-align: center;
            min-width: 150px;
            text-transform: capitalize;
        }
        .user-name {
            margin-inline-start: 30px;
            h4 {
                border-right: none;
                margin-inline-start: 30px;
            }
        }
    }

    main {
        display: flex;
        flex: 1;

        .left-user-nav {
            min-width: 150px;
            border-right: 1px solid #5555;
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            font-family: lato;
            position: relative;

            .wap-left-dash,
            .logout-user-dash {
                padding-inline-start: 20px;
                padding-block: 12px;
                border-bottom: 1px solid #5555;
                text-transform: capitalize;
                transition: 0.3s;
                cursor: pointer;
                list-style-type: none;
                &:not(.logout-user-dash):hover {
                    background-color: #5555;
                }
                &.logout-user-dash {
                    border-top: 1px solid #5555;
                    background-color: #5558;
                    color: #eee;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    padding-inline-start: 0px;
                    font-family: montserratBold;
                }
            }
        }

        .main-dashboard {
            flex: 1;
            width: 100%;
            max-width: 1400px;
            margin-inline: auto;

            .top-half {
                display: flex;
                .dash-card-wrapper {
                    display: flex;

                    .chosen-wap-display {
                        margin: 20px 20px 0 0;
                        width: auto;
                        h3 {
                            font-size: 30px;
                            padding-inline-start: 6px;
                            border-left: 4px solid $primary-clr;
                            text-transform: capitalize;
                            margin-inline-start: 4px;
                            margin-block: 12px;
                        }
                        margin-block-start: 5vh;
                        margin-inline-start: 20px;
                    }
                }

                .wap-table {
                    grid-area: userTable;
                    max-width: 800px;
                    margin-inline: auto;
                    margin-block: 20px;
                    h3 {
                        margin-block-end: 20px;
                    }
                }

                @media (min-width: 1400px) {
                    display: flex;
                }
            }
            .chart-line {
                margin-inline: auto;
                grid-area: chartLine;
                margin-block: 40px;
            }
        }
    }

    .main-dash-placeholder {
        display: grid;
        grid-template-columns: 10px 1fr 10px;

        @media (min-width: 800px) {
            grid-template-columns: 60px 1fr 60px;
        }

        section {
            .ps-dush-top {
                h2 {
                    font-size: 46px;
                    margin-block: 40px;
                    text-transform: capitalize;
                    margin-inline: 40px;
                    text-align: center;
                }
            }
            .dash-placeholder-txt {
                width: 80%;
                margin-inline: auto;
                p {
                    margin: 0;
                }
            }

            .carousel {
                width: 60%;
                margin-inline: auto;
                margin-block: 20px;
                height: 200px;

                > * {
                    height: 100%;
                }
            }
        }
    }
}
