main:has(.dashboard)>.main-header
{
    padding: 24px;
    padding-bottom: 12px;
}


.dashboard {
    font-family: inter;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50.5px);
    .top-dashboard {
        display: flex;
        border-top: 1px solid #5555;
        border-bottom: 1px solid #5555;
        padding: 12px 24px;
        font-family: inter;
        align-items: center;

        h4 {
            border-right: 1px solid #5555;
            min-width: 126px;
            font-size: 20px;
            text-transform: capitalize;
        }
        .user-name {
            margin-inline-start: 30px;
            h4 {
                border-right: none;
                margin-inline-start: 30px;
            }
        }
    }

    main {
        display: flex;
        flex: 1;

        .left-user-nav {
            min-width: 150px;
            border-right: 1px solid #5555;
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            font-family: lato;
            position: relative;

            .wap-left-dash,
            .logout-user-dash {
                padding-inline-start: 20px;
                padding-block: 12px;
                border-bottom: 1px solid #5555;
                text-transform: capitalize;
                transition: 0.3s;
                cursor: pointer;
                list-style-type: none;
                &:not(.logout-user-dash):hover {
                    background-color: #5555;
                }
                &.logout-user-dash {
                    border-top: 1px solid #5555;
                    background-color: #5558;
                    color: #eee;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    padding-inline-start: 0px;
                    font-family: montserratBold;
                }
            }
        }

        .main-dashboard {
            flex: 1;
            width: 100%;
            max-width: 1400px;
            margin-inline: auto;

            .top-half {
                display: flex;
                .dash-card-wrapper {
                    display: flex;

                    .chosen-wap-display {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        h3 {
                            max-width: 250px;
                            min-width: 250px;
                            font-size: 24px;
                            padding-inline-start: 6px;
                            border-left: 4px solid $primary-clr;
                            text-transform: capitalize;
                            margin-inline-start: 4px;
                            margin-block: 12px;
                        }
                        margin-block-start: 5vh;
                        margin-inline-start: 20px;
                        .prev-img {
                            width: 220px;
                            margin-inline: auto;
                            border:  8px $primary-clr;
                            
                        }
                        .wap-actions-dash {
                            display: flex;
                            flex-direction: column;

                            button {
                                transition: 0.2s;
                                &:first-child {
                                    background-color: $primary-clr;

                                    &:hover {
                                        background-color: lighten($primary-clr, 10%);
                                    }
                                }
                                &:last-child {
                                    box-shadow: 0 0 3px $primary-clr;

                                    &:hover {
                                        background-color: lighten($primary-clr, 15%);
                                    }
                                }
                            }
                        }
                    }
                }
                .chart-line {
                    margin-block: 40px;
                    margin-inline-start: 50px;
                    flex: 1;
                    padding-inline: 20px;

                    .interactions-stats {
                        display: flex;
                        gap: 21px;
                        justify-content: center;
                        color: #444;

                        div {
                            width: 200px;
                            background-color: #9992;
                            height: 80px;
                            display: grid;
                            place-content: center;
                            border-radius: 3px;
                            text-align: center;
                            box-shadow: 3px 3px #3331, inset 3px 2px 5px #eee5;
                            font-size: 16px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 10px;
                            margin-block-end: 20px;
                            transition: filter 0.5s;

                            transition: 0.3s;

                            span {
                                font-family: lato;
                            }
                            h3 {
                                font-family: montserratBold;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            .bottom-half {
                width: 95%;
                margin-inline: auto;
            }
        }
    }

    .main-dash-placeholder {
        display: grid;
        grid-template-columns: 10px 1fr 10px;

        @media (min-width: 800px) {
            grid-template-columns: 60px 1fr 60px;
        }

        section {
            .ps-dush-top {
                h2 {
                    font-size: 46px;
                    margin-block: 40px;
                    text-transform: capitalize;
                    margin-inline: 40px;
                    text-align: center;
                }
            }
            .dash-placeholder-txt {
                width: 80%;
                margin-inline: auto;
                p {
                    margin: 0;
                }
            }

            .carousel {
                width: 60%;
                margin-inline: auto;
                margin-block: 20px;
                height: 200px;

                > * {
                    height: 100%;
                }
            }
        }
    }
}
