.dashboard {
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 78.5px);
    .top-dashboard {
        display: flex;
        border-top: 1px solid #5555;
        border-bottom: 1px solid #5555;
        padding-block: 10px;
        font-family: montserratBold;
        align-items: center;

        h4 {
            border-right: 1px solid #5555;
            text-align: center;
            min-width: 150px;
            text-transform: capitalize;
        }
        .user-name {
            margin-inline-start: 30px;
            h4 {
                border-right: none;
                margin-inline-start: 30px;
            }
        }
    }

    main {
        display: flex;
        flex: 1;

        .left-user-nav {
            min-width: 150px;
            border-right: 1px solid #5555;
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            font-family: lato;
            position: relative;

            .wap-left-dash,
            .logout-user-dash {
                padding-inline-start: 20px;
                padding-block: 12px;
                border-bottom: 1px solid #5555;
                text-transform: capitalize;
                transition: 0.3s;
                cursor: pointer;
                list-style-type: none;
                &:not(.logout-user-dash):hover {
                    background-color: #5555;
                }
                &.logout-user-dash {
                    border-top: 1px solid #5555;
                    background-color: #5558;
                    color: #eee;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    padding-inline-start: 0px;
                    font-family: montserratBold;
                }
            }
        }

        .main-dashboard {
            flex: 1;
            width: 100%;
            max-width: 1400px;
            margin-inline: auto;
           
            .top-half{
                
                .chosen-wap-display {
                    margin-block: 20px;
                    margin-inline: auto;
                    width: 80%;
                    box-shadow: 0 0 0 1px #9999;
                    padding: 10px;
                    border-radius: 0.365em;
                    background-color: #9995;
                    grid-area: card;
                    img,
                    .chosen-wap-img {
                        width: 100%;
                        height: 80%;
                        display: grid;
                        place-content: center;
                    }
                    h3 {
                        padding-inline-start: 6px;
                        border-left: 4px solid $primary-clr;
                        text-transform: capitalize;
                        margin-inline-start: 4px;
                        margin-block: 12px;
                    }
                    .wap-actions-dash {
                        display: flex;
                        justify-content: space-around;
                        button {
                            width: 48%;
                            margin: 0;
                            padding: 10px 24px;
                            font-size: 18px;
                            font-family: raleway;
                            border: 1px solid #fff;
                            background-color: $primary-clr;
                            border-radius: 6px;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover {
                                background-color: lighten($primary-clr, 10%);
                                border: 1px solid #333;
                            }
                            &:last-child {
                                border: 1px solid $primary-clr;
                                background-color: #fff;
                                &:hover {
                                    background-color: darken(#fff, 20);
                                }
                            }
                        }
                    }
                }
    
                .wap-table {
                    grid-area: userTable;
                    max-width: 800px;
                    margin-inline: auto;
                    margin-block: 20px;
                    h3 {
                        margin-block-end: 20px;
                    }
                }

                @media(min-width: 1400px){
                    display: flex;
                }
            }
            .chart-line {
                width: 90%;
                margin-inline: auto;
                grid-area: chartLine;
                margin-block: 40px;
            }
        }
    }

    .main-dash-placeholder {
        display: grid;
        grid-template-columns: 20px 1fr 20px;


        section{

            h2{
                font-size: 46px;
                margin-block: 40px;
                text-transform: capitalize;
            }
        }
    }
}
