.container {
    &.home {
        gap: 20px;
        background-image: url(@/assets/wicks-hero.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        h1{
            margin-inline-start: 1em;
            margin-bottom: 2em;
            font-size: 2em;
            color: $clr5;
        }
        img {
            width: 40%;
        }

        button {
            cursor: pointer;
            font-size: 2em;
            width: 300px;
            padding: 20px;
            color: rgb(233, 233, 233);
            margin-inline-start: calc(20px + 25vw);
            background-color: $clr3;
            transition:background-color 0.2s;
            &:hover{
                background-color: $clr2;

            }
        }
    }
}