.container {
    &.home {
        gap: 20px;
        background-image: url(@/assets/wicks-hero.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;

        h1 {
            margin-inline-start: 1em;
            margin-bottom: 2em;
            font-size: 2.5em;
            color: $clr5;
            font-family: comfortaa, sans-serif;
        }

        >img {
            width: 40%;
        }

        header {
            img {
                // width: 100%;
            }

            a {
                color: #eee;
            }
        }

        button {
            cursor: pointer;
            font-size: 2em;
            width: 300px;
            padding: 20px;
            color: rgb(233, 233, 233);
            background-color: $hover-clr;
            margin-inline-start: 1em;
            transition: background-color 0.2s;
            border-radius: 7px;
            font-family: montserrat, Helvetica, Arial, sans-serif;
            
            
            &:first-child {
                border: 2px solid $hover-clr;
                background-color:transparent;
            }
            &:hover {
                background-color: $clr2;
            }
        }
    }
}