header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78.5px;

    @media (min-width: 1000px) {
        grid-template-columns: 80px 1fr 80px;
    }

    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1400px 1fr;
    }

    @media (min-width: 1800px) {
        grid-template-columns: 1fr 1600px 1fr;
    }

    .home {
        color: #eee;
    }

    .logo {
        width: rem(150px);
    }

    .loggedin-user {
        display: flex;
        gap: 10px;
        // align-items: center;
        position: relative;

        span {
            background-color: $clr2;
            border-radius: 50%;
        }

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            object-fit: cover;
        }

        .user-icon {
            cursor: pointer;
        }

        @media (min-width: 900px) {
            .main-dropdown {
                position: absolute;
                top: 70px;
                // TODO: FINISH HERE
                right: -8px;
                font-size: 16px;
                width: 200px;
                background: #eee;
                box-shadow: 1px 1px 1px #3335, -1px -1px 4px #3335;
                // padding: 20px 10px;
                border-radius: 2px;
                height: 0;
                overflow: hidden;
                transition: 0.3s;

                &::before {
                    content: "";
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    background: linear-gradient(135deg, #eee 60%, transparent 60%);
                    box-shadow: -1px -1.5px 1px #3333;
                    top: -12px;
                    right: 20px;
                    transform: rotate(45deg);
                }

                > * {
                    padding-inline-start: 5px;
                    padding-block: 0;
                    opacity: 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.openMenu {
                    height: calc(42.6px * 2);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    overflow: visible;
                    & * {
                        opacity: 1;
                        padding-block: 10px;
                        cursor: pointer;
                    }

                    a {
                        // box-shadow: 0px 1px  #333;
                        border-bottom: 1px solid #9995;
                    }
                }
            }
        }
    }

    &.main-header {
        padding: 0;
        background-color: transparent;
        position: relative;
        display: flex;
        grid-area: c;

        * {
            color: $text-primary;
            font-size: 1.1em;
        }

        .logo {
            max-width: 5.19em;
            margin-block: 10px;
            // padding-inline-start: 15px;
        }

        .main-nav {
            background: #eee;
            color: #eee;
            position: absolute;
            right: 0;
            height: calc(100vh - 80px);
            z-index: 20;
            top: 80px;
            width: 0;
            transition: width 0.3s;
            display: flex;
            align-items: center;
            z-index: 350;

            opacity: 0;

            &.active {
                width: 100%;
                flex-direction: column;
                color: #333;
                .temp-header {
                    padding-inline-start: 65px;
                }
                opacity: 1;
                > * {
                    border-bottom: 1px solid #5555;
                    padding-block: 0.8em;
                    padding-inline-start: 10px;
                    width: 100%;
                    font-size: em(14px);
                }
            }

            @media (min-width: 900px) {
                display: flex;
                position: relative;
                flex-direction: row;
                width: auto;
                top: 0;
                gap: 20px;
                height: auto;
                background: transparent;
                opacity: 1;

                > :last-child {
                    margin-inline-end: 20px;
                }
            }
        }

        .burger {
            height: 80px;
            width: 80px;
            position: relative;
            cursor: pointer;
            z-index: 30;

            @media (min-width: 900px) {
                display: none;
            }

            > * {
                width: 40%;
                height: 3px;
                background: $clr2;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: calc(10px * var(--i) + 50%);
                border-radius: 25px;
                transition: 0.5s;
            }

            &.active > *:not(:nth-child(even)) {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 50%;
            }

            &.active > *:not(:nth-child(odd)) {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .edit-container & {
            .logo {
                max-height: em(46px);
                margin-inline-start: 20px;
            }

            nav > * {
                color: black;
            }

            border-bottom: 1px solid #3335;
        }

        &.home {
            * {
                color: $clr5;
            }
        }
    }
}

.main-layout-header {
    margin-inline: 10px;

    @media (min-width: 1000px) {
        margin-inline: 80px;
    }

    // @media (min-width: 1600px) {
    //     max-width: 1400px;
    //     margin-inline: auto;
    // }
}

.list-layout-header {
    display: grid;
    grid-template-areas: ". c .";
    grid-template-columns: 10px 1fr 10px;

    @media (min-width: 1000px) {
        grid-template-columns: 80px 1fr 80px;
    }
    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1400px 1fr;
    }
    @media (min-width: 1800px) {
        grid-template-columns: 1fr 1600px 1fr;
    }
}

.editor-header {
    margin: 0;
    display: block;
    width: 100%;
    background: red;
}
