header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 78.5px;

    @media (min-width: 1000px) {
        grid-template-columns: 80px 1fr 80px;
    }

    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1400px 1fr;
    }

    @media (min-width: 1800px) {
        grid-template-columns: 1fr 1600px 1fr;
    }

    .home {
        color: #eee;
    }

    .logo {
        width: rem(150px);
    }

    .loggedin-user {
        display: flex;
        gap: 10px;
        // align-items: center;
        position: relative;

        span {
            background-color: $clr2;
            border-radius: 50%;
        }

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.6);
            -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.6);
            -moz-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.6);

        }

        .user-icon {
            cursor: pointer;
            display: flex;
        }

        .main-dropdown {
            position: absolute;
            top: 70px;
            // TODO: FINISH HERE
            right: -8px;
            font-size: 16px;
            width: 250px;
            background: $yoga-bg;
            box-shadow: 1px 1px 1px #3335, -1px -1px 4px #3335;
            // padding: 20px 10px;
            border-radius: 6px;
            height: 0;
            overflow: hidden;
            transition: 0.3s;
            align-items: center;
            z-index: 3000;

            a {
                color: #333 !important;
            }

            .username-dropdown {
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #9995;
                width: 100%;
                text-align: center;
            }

            img {
                // object-fit: cover;
                padding: 0 !important;
                height: 60px;
                width: 60px;
                margin-top: 20px;
            }

            >* {
                // padding-inline-start: 5px;
                padding-block: 0;
                opacity: 0;
                width: 100%;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.openMenu {
                height: 245px;
                display: flex;
                flex-direction: column;

                & * {
                    opacity: 1;
                    padding-block: 10px;
                    cursor: pointer;
                }

                a {
                    // box-shadow: 0px 1px  #333;
                    padding-block: 20px;

                    border-bottom: 1px solid #9995;
                }

                div {
                    padding-block: 20px;

                }
            }
        }
    }

    &.main-header {
        padding: 0;
        background-color: transparent;
        position: relative;
        display: flex;
        grid-area: c;

        * {
            color: $text-primary;
            font-size: 1.05em;
        }

        .logo {
            max-width: 4.5em;
            // margin-block: 10px;
            // padding-inline-start: 15px;
        }

        .main-nav {
            display: flex;
            position: relative;
            flex-direction: row;
            width: auto;
            top: 0;
            gap: 30px;
            height: auto;
            background: transparent;
            opacity: 1;
            align-items: center;

            a:hover {
                color: $logo-clr;
            }

            > :last-child {
                // margin-inline-end: 20px;
            }
        }

        .edit-container & {
            padding: 24px;
            padding-bottom: 12px;

            .logo {
                max-height: em(46px);
                // margin-inline-start: 20px;
            }

            nav>* {
                color: black;
            }

            border-bottom: 1px solid #3335;
        }

        &.home {
            * {
                color: $clr5;
            }
        }
    }
}

.main-layout-header {
    margin-inline: 10px;

    @media (min-width: 1000px) {
        margin-inline: 80px;
    }

    // @media (min-width: 1600px) {
    //     max-width: 1400px;
    //     margin-inline: auto;
    // }
}

.list-layout-header {
    display: grid;
    grid-template-areas: ". c .";
    grid-template-columns: 10px 1fr 10px;

    @media (min-width: 1000px) {
        grid-template-columns: 80px 1fr 80px;
    }

    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1400px 1fr;
    }

    @media (min-width: 1800px) {
        grid-template-columns: 1fr 1600px 1fr;
    }
}

.editor-header {
    margin: 0;
    display: block;
    width: 100%;
    background: red;
}