header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    height: 78.5px;
 
    .logo {
        width: rem(150px);
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    a:not(:last-child){
        margin-inline-end: 20px;
    }

    .loggedin-user {
        // background-color: $clr1;
        border-top: 1px solid $clr1;
        padding: 2px 8px;
        // border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        * {
            display: flex;
            align-items: center;
        }
        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
