header {
    background-color: $clr4;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .loggedin-user {
        // background-color: $clr1;
        border-top: 1px solid $clr1;
        padding: 2px 8px;
        // border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        *{
            display: flex;
            align-items: center;
        }
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    nav {
        // background-color: $clr4;
        padding: 5px 0;
        > a{
            display: flex;
            align-items: center;
        }
        .logo{
            height: 60px;
        }
        a:not(:first-child) {
            border-top: 1px solid $clr1;
            padding: 0 5px;
            margin: 10px;
        }
        .active {
            color: $clr1;
        }
    }
}