header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78.5px;

    .home{
        color: #eee;
    }

    .logo {
        width: rem(150px);
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:not(:last-child) {
        margin-inline-end: 20px;
    }

    .loggedin-user {
        * {
            display: flex;
            align-items: center;
        }
        span {
            background-color: $clr2;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            object-fit: cover;
            width: 100%;
        }
    }
    &.main-header {
        padding: 0;
        background-color: transparent;
        * {
            color: $text-primary;
            font-size: 1.1em;
        }
        .logo {
            max-width: 5.19em;
            margin-block: 10px;
            margin-inline-start: 15px;
        }

        
        .edit-container &{
            .logo {
                max-height: em(46px);
            }
            
            nav > * {
                color: black;
            }
        
            border-bottom: 1px solid $border-clr;
        }
     
    
        &.home {
            * {
                color: $clr5;
            }
        }

        
    }

    

    
}
