.color-picker {

    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    gap: 7px;
    .color-picker-item {
        cursor: poi;
        > div{
            width: 2em;
            height: 2em;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
