.color-picker {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-width: 320px;
margin-inline-end: 10px;
    gap: 7px;
    .color-picker-item {
        cursor: pointer;
        > div{
            width: 2em;
            height: 2em;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
