.main-editor {
    height: 100%;

    .left-nav{
        background-color: aqua;
    }

    .options {
        display: flex;
        height: 100%;
        background-color: aqua;
        width: clamp(200px, 30vw, 400px);
        .draggable-item:first-child{
            margin-top: 10px;
        }
        .draggable-item{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        img {
            width: 95%;
        
        }
    }


}