.wap-list-container{
    
}



.wap-list {

    background: $clr5;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;

    padding: 3em;

    li {
        box-shadow: 1px 1px 5px #3335;
        border-radius: 0.325em;
        position: relative;
        height: auto;
        .wap-preview {
            border-radius: 3em;

            img {
                height: 13em;
                object-fit: cover;
                width: 100%;
                padding: 0.65em 0.65em 0 0.65em;
                border-radius: calc(0.325em + 0.65em) calc(0.325em + 0.65em) 0 0;
            }
            .wap-details {
                line-height: 2.4em;
                text-align: center;
                font-size: 1.2em;
                span:first-child {
                    color: $clr3;
                }
            }
            
            .preview-btns {
                display: flex;
                flex-direction: column;
                justify-content: end;
                position: absolute;
                bottom: 3em;
                // bottom: -30%;
                background: #fff3;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 0;
                overflow: hidden;
                transition: 0.5s;
                
                button{
                    align-self: center;
                    width: 60%;
                    margin-block-end: 10px;
                    cursor: pointer;
                    border: 1px solid #eee5;
                    background-color: $clr3;

                    &:hover{
                        background: lighten($clr3,10%);
                    }

                }

            }

            &:hover .preview-btns {
                height: 13em;
            }
        }
    }
}
