.main-editor {
    height: 100vh;

    .txt-cmps-editor{
        padding: 10px;
        > *{
            margin-bottom: 10px;
        }
    }



    .left-nav {
        // background-color: aqua;
        border-right: 1px solid #3335;

        button {
            color: #1c2e3bc9;
            background-color: transparent;
        }
    
    }

    .options {
        display: flex;
        height: 100vh;
        // background-color: aqua;
        width: clamp(200px, 30vw, 400px);
        border-right: 1px solid #3335;
        section{
            overflow-y: auto;
        }

        .draggable-item:first-child {
            margin-top: 10px;
        }

        .draggable-item {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            &:hover{
                cursor:grab;
            }

        }

        img {
            pointer-events: none;
            width: 95%;
       

        }
    }


}