.main-editor {
    height: 100vh;

    .txt-cmps-editor,
    .img-cmp-editor {
        >*{
            padding-inline-start: 10px;
        }
        h2{
            border-bottom: 1px solid #1c2e3bc9;
        }
        // padding: 10px;

        img {
            width: 90%;
            margin: auto;
            margin-bottom: 10px;
        }

        >* {
            margin-bottom: 10px;
        }
    }



    .left-nav {
        // background-color: aqua;
        border-right: 1px solid #3335;

        button {
            aspect-ratio: 1/1;
            color: #1c2e3bc9;
            background-color: transparent;
            transition: background 0.3s;
            &:hover{
                border-radius: 50%;
                background:$clr5;
            }
        }

    }

    .cmp-editor {
        width: clamp(200px, 30vw, 400px);
    }

    .options {
        display: flex;
        height: 100vh;
        // background-color: aqua;
        width: clamp(200px, 30vw, 400px);
        border-right: 1px solid #3335;

        section {
            overflow-y: auto;
        }

        .draggable-item:first-child {
            margin-top: 10px;
        }

        .draggable-item {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            &:hover {
                cursor: grab;
            }

        }

        img {
            pointer-events: none;
            width: 95%;


        }
    }


}