.editor-header {
    .logo {
        max-height: em(46px);
        margin-block: 10px;
        margin-inline-start: 15px;
    }
    border-bottom: 1px solid $border-clr;
}

.editor-top {
    border-bottom: 1px solid $border-clr;
    min-height:em(45px) ;
    > section{
        margin-inline-start: em(50px);
        margin-inline-end: em(18px);
    }
    // margin-block-end: 5px;
    .view-port-editor {
        gap: 7px;
        align-items: center;
        .icon {
            font-size: em(24px);
            padding: em(3px);
            color: #1c2e3bc9;
            border-radius: 10px;
            transition: background 0.3s;
        }

        .icon:hover {
            // background: radial-gradient(lighten($clr1, 33%), transparent);
            background:$clr5;
        }
    }

    .dynamic-url {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: rem(16px);
        div {
            color: $border-clr;
            margin-inline-end: 10px;
        }
        span {
            color: #000;
        }

        > span:first-of-type {
            color: blue;
        }
        > span:last-of-type {
            color: blueviolet;
        }
    }
    
    .site-preview {
        align-self: center;
        justify-self: end;
        font-weight: 900;
        span{
            color: #000;
        }
    }
}
