.main-editor {
    height: 100vh;
    .txt-cmps-editor,
    .img-cmp-editor {
        > * {
            padding-inline-start: 10px;
        }

        h2 {
            border-bottom: 1px solid $border-clr;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        // padding: 10px;

        img {
            width: 90%;
            margin: auto;
            margin-bottom: 10px;
        }

        > * {
            margin-bottom: 10px;
        }
    }

    .left-nav {
        // background-color: aqua;
        border-right: 1px solid $border-clr;

        button {
            aspect-ratio: 1/1;
            color: #1c2e3bc9;
            background-color: transparent;
            border-radius: 50%;
            transition: background 0.3s;

            &:hover {
                background: $clr5;
            }
        }
    }

    &.prev-cmp-filter{
        height: 100%;
    }

    .prev-cmp-filter {
        height: 100%;
        background-color: rgb(248, 247, 247);

        > li {
            padding: 7px 10px;
            font-size: 1.1em;
            cursor: pointer;

            &:hover {
                color: blueviolet;
            }

            &.active {
                color: blueviolet;
                -webkit-box-shadow: inset 14px 0px 0px -10px blueviolet;
                box-shadow: inset 14px 0px 0px -10px blueviolet;
            }
        }
    }

    .cmp-editor {
        width: clamp(200px, 30vw, 400px);
    }

    .options {
        // background-color: aqua;
        width: clamp(200px, 30vw, 400px);
        border-right: 1px solid $border-clr;

        h2 {
            padding: 10px;
            border-bottom: 1px solid $border-clr;

            font-weight: bold;
        }
        

        
        .prev-cmp-img-container {
            overflow-y: auto;
            height: calc(100vh - 0px);
        }

        .draggable-item {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            padding: 0 5px;

            &:hover {
                cursor: grab;
            }
        }

        img {
            pointer-events: none;
            width: 95%;
        }
    }

    .cmp-side-editor {
        border-right: 1px solid $border-clr;
    }
}
