.wap-list-container {
    margin-block-start: 3.125em;
    font-family: workSans;

    h1 {
        font-size: em(16px);
        width: 18pc;
        margin-block-end: 10px;
        font-weight: 700;

        @media (min-width: 350px) {
            font-size: em(26px);
            width: 30pc;
        }
        @media (min-width: 750px) {
            width: 40pc;
            font-size: em(34px);
        }
    }
    h4 {
        font-size: em(12px);
        margin-block-end: 30px;

        @media (min-width: 350px) {
            font-size: em(14px);
        }
        @media (min-width: 750px) {
            font-size: em(16px);
        }
    }

    .wap-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.5em;
        min-width: 100%;
        margin: 0 0;
        padding-bottom: 3.125rem;

        li {
            // box-shadow: 1px 1px 5px #3335;

            border-radius: 0.325em;
            position: relative;
            height: auto;
            .wap-preview {
                border-radius: 3em;

                img {
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;
                    border-radius: 0.625em;
                }
                .wap-details {
                    line-height: 2.4em;
                    font-size: 1.2em;
                    text-transform: capitalize;
                    font-family: oswald;

                    span:first-child {
                        color: $clr3;
                    }
                }

                .preview-btns {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    position: absolute;
                    bottom: 3em;
                    background: #fff3;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    transition: 0.5s;

                    button {
                        font-size: 1.3em;
                        align-self: center;
                        width: 60%;
                        margin-block-end: 10px;
                        cursor: pointer;
                        border: 1px solid #eee5;
                        background-color: $clr3;
                        border-radius: 5px;

                        &:hover {
                            background: lighten($clr3, 10%);
                        }
                    }
                }

                &:hover .preview-btns {
                    height: 100%;
                }
            }
        }
    }

    @media (min-width: 650px) {
        & {
        }
    }
}
