.main-editor {
    height: calc(100vh - 127px);

    .left-nav {
        // background-color: aqua;
        border-right: 1px solid $border-clr;

        button {
            aspect-ratio: 1/1;
            color: #1c2e3bc9;
            background-color: transparent;
            border-radius: 50%;
            transition: background 0.3s;
            font-size: 1.5em;
            padding: 8px;

            &:hover {
                background: $clr5;
            }

            &.active {
                background: $clr5;
            }
        }

        .bottom-button {
            margin-bottom: 40px;
        }
    }

    .options.active {
        width: clamp(200px, 35vw, 500px);
        transition: all 0.5s;
        opacity: 1;
    }

    .options {
        width: 0;
        opacity: 0;
        transition: all 0.5s;

        position: relative;

        border-right: 1px solid $border-clr;

        h2 {
            padding: 10px;
            border-bottom: 1px solid $border-clr;
            box-shadow: inset 0px 14px 0px -10px blueviolet;
            font-weight: bold;
        }

        .prev-cmp-img-container {
            overflow-y: auto;
            height: calc(100vh - 185px);
        }

        .draggable-item {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            padding: 0 5px;
            transition: transform 0.2s;

            &:hover {
                cursor: grab;
                transform: translateY(-0.1875rem);
            }
        }

        .txt-cmps-editor,
        .img-cmp-editor,
        .section-cmp-editor {
            height: 100%;

            > * {
                padding-inline-start: 10px;
            }

            h2 {
                border-bottom: 1px solid $border-clr;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .color-picker {
                margin-bottom: 2em;
            }

            label.gap {
                gap: 20px;
            }

            hr {
                width: 95%;
                color: $border-clr;
                opacity: 0.2;
            }

            .text-format {
     
                .editor-checkbox {
                    display: flex;
                    justify-content: space-around;
                    margin-block: 1em;
                    label {
                        transition: 0.3s;
                        span {
                            // ICON SIZE
                            font-size: 2em;
                        }
                        input {
                            display: none;
                        }
                        box-shadow: 1px 1px 5px #3335;

                        &:has(input:checked) {
                            // background: red;
                            // border: 1px dotted #333;
                            background: lighten($clr3, 30%);
                            box-shadow: 1px 1px 5px $clr3;
                        }
                    }
                }
            }

            img {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }

            > * {
                margin-bottom: 10px;
            }
        }

        img {
            pointer-events: none;
            width: 95%;
        }

        &.theme {
            flex-direction: column;
            align-items: center;
            overflow-y: auto;

            img {
                width: 70%;
                margin-bottom: 1em;

                &:hover {
                    cursor: pointer !important;
                }
            }
        }
    }

    .prev-cmp-wrapper {
        height: 100%;

        .prev-cmp-filter {
            height: 100%;
            background-color: rgb(248, 247, 247);

            > li {
                padding: 10px;
                font-size: 0.9em;
                cursor: pointer;

                &:hover {
                    color: blueviolet;
                }

                &.active {
                    color: blueviolet;
                    box-shadow: inset 14px 0px 0px -10px blueviolet;
                }
            }
        }
    }

    .cmp-editor {
        border-right: 1px solid $border-clr;
    }

    .options.active .cmp-side-editor {
        width: 100%;
    }
}

.options.active:has(.cmp-side-editor) {
    width: clamp(150px, 23vw, 350px);
}
