.main-editor {
    height: calc(100vh - 127px);
    user-select: none;

    .left-nav {
        // background-color: aqua;
        border-right: 1px solid $border-clr;
        padding: 0 2px;

        .app-btn {
            display: none;
        }

        button {
            aspect-ratio: 1/1;
            color: #1c2e3bc9;
            background-color: transparent;
            border-radius: 50%;
            transition: background 0.3s;
            font-size: 1.5em;
            padding: 7px;

            &:hover {
                background: #ede6f3;
            }

            &.active {
                background: #ede6f3;
            }
        }

        .bottom-button {
            margin-bottom: 40px;

            button {
                scale: 1.1;
            }
        }
    }

    .options.active {
        width: clamp(200px, 35vw, 500px);
        transition: all 0.3s;
        opacity: 1;

        .close-icon {
            position: absolute;
            z-index: 15;
            right: 5px;
            top: 15px;
            padding: 0;
        }
    }

    .options {
        width: 0;
        opacity: 0;
        transition: all 0.3s;
        position: relative;

        border-right: 1px solid $border-clr;

        h2 {
            padding: 10px;
            border-bottom: 1px solid $border-clr;
            box-shadow: inset 0px 14px 0px -10px $primary-clr;
            font-weight: bold;
            width: 100%;
        }

        .prev-cmp-img-container {
            overflow-y: auto;
            height: calc(100vh - 185px);

            .close-icon {
                @media (max-width: 550px) {
                    left: 5px;
                }
            }
        }

        .draggable-item {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            padding: 0 5px;
            transition: transform 0.2s;

            img {
                pointer-events: none;
                width: 95%;
            }

            &:hover {
                cursor: grab;
                transform: translateY(-0.1875rem);
            }
        }

        .txt-cmps-editor,
        .img-cmp-editor,
        .section-cmp-editor {
            // height: 100%;

            >* {
                padding-inline: 10px;
            }

            h2 {
                border-bottom: 1px solid $border-clr;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .color-picker-wrapper {
                >span {
                    display: inline-block;
                    margin-bottom: 0.6em;
                }

                .color-picker {
                    margin-bottom: 2em;
                }
            }

            label.gap {
                gap: 20px;
            }

            hr {
                width: 95%;
                color: $border-clr;
                opacity: 0.2;
            }

            .draggable-item {
                img {
                    pointer-events: none;
                    width: 95%;
                }
            }

            .text-format {
                .editor-checkbox {
                    display: flex;
                    gap: 5px;
                    justify-content: space-around;
                    margin-block: 1em;

                    label {
                        transition: 0.3s;

                        span {
                            // ICON SIZE
                            font-size: 2em;
                        }

                        input {
                            display: none;
                        }

                        box-shadow: 1px 1px 5px #3333;

                        &:has(input:checked) {
                            // background: red;
                            // border: 1px dotted #333;
                            background: $clr5;
                            box-shadow: 1px 1px 5px $clr5;
                        }
                    }
                }
            }

            .font-picker-wrapper {
                >span {
                    flex-basis: 140px;
                }

                >.el-select {
                    margin-inline-end: 10px;
                }
            }

            img {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;

                @media (max-width: 900px) {
                    margin: 0;
                    height: 150px;
                    margin-bottom: 0.5em;
                }
            }

            .img-replace-src {
                input {
                    width: 80%;
                    height: 30px;
                    margin: 0.5em 0 1em 0;
                    object-fit: cover;
                }
            }

            .upload-preview {
                margin-block: 0.5em;
                text-align: center;
                .upload-img-header{
                    text-align: start;
                }

        .upload-icon-wrapper{
            margin-top: 0.5em;
            border: 1px dotted $logo-clr;
            padding-block: 1.5em;
            @media (max-width:550px) {
                padding-block: 1.3em;
                
                
            }
        }
            }

            p {
                margin: 0;
            }

            span {
                display: inline-block;
            }
        }

        &.theme {
            flex-direction: column;
            align-items: center;
            // overflow-y: auto;
            // overflow-x: visible;

            img {
                width: 70%;
                margin-top: 1em;
                margin-bottom: 1em;

                &:hover {
                    cursor: pointer !important;
                }
            }
        }
    }

    .prev-cmp-wrapper {
        height: 100%;

        .prev-cmp-filter {
            height: 100%;
            background-color: rgb(248, 247, 247);

            >li {
                padding: 10px;
                font-size: 0.9em;
                cursor: pointer;

                &:hover {
                    color: $logo-clr;
                }

                &.active {
                    color: $logo-clr;
                    box-shadow: inset 14px 0px 0px -10px $primary-clr;
                }
            }
        }
    }

    .cmp-editor {
        border-right: 1px solid $border-clr;
    }

    .section-cmp-editor {
        .delete-duplicate {
            margin: 0;
        }

        button {
            margin: 0;
            aspect-ratio: 1/1;
            color: #1c2e3bc9;
            background-color: transparent;
            border-radius: 50%;
            transition: background 0.3s;
            font-size: 1.5em;
            padding: 8px;

            &:hover {
                background: $clr5;
            }

            &.active {
                background: $clr5;
            }
        }

        .undo {
            margin-bottom: 0;
        }
    }

    .options.active .cmp-side-editor {
        width: 100%;
    }
}

.options.active:has(.cmp-side-editor) {
    width: clamp(150px, 23vw, 350px);
}

.main-editor {
    @media (max-width: 900px) {
        .left-nav {
            position: fixed;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 10;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(244, 244, 246);
            border: none;
            border-top: 1px solid $border-clr;
  

            .material-symbols-outlined:hover {
                background-color: transparent;
            }

            >section {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 0 !important;
            }
        }

        .options {
            bottom: 0;
            transition: height 0.3s;
            border: none;
            background-color: rgb(244, 244, 246);
        }

        .options.active {
            transition: opacity 0.2s;
            position: fixed;
            // height: 300px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100% !important;
            z-index: 10;
            box-shadow: 0px 10px 13px -7px #000000, 0px -3px 10px 0px rgba(0, 0, 0, 0.35);
            // height: 200px;
            // overflow-y: scroll;

            .close-icon {
                top: 5px;
                background-color: rgb(244, 244, 246);
                z-index: 15;
            }

            .cmp-editor {
                >span:first-of-type {
                    margin-top: 10px;
                }

                .text-format {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                    }

                    .border-radius-bar {
                        width: min-content;
                    }

                    .font-picker-wrapper {
                        span {
                            flex-basis: 0;
                        }
                    }
                }
            }

            h2 {
                display: none;
            }

            .prev-cmp-wrapper {
                flex-direction: column-reverse;
                background-color: rgb(244, 244, 246);
                position: fixed;
                bottom: 0;
                height: auto;
                border-top: 1px solid $border-clr;
                box-shadow: 0px 10px 13px -7px #000000, 0px -3px 10px 0px rgba(0, 0, 0, 0.35);

                .prev-cmp-img-container {
                    height: 150px;
                    width: 100vw;
                    overflow-x: auto;
                }

                .smooth-dnd-container {
                    overflow-x: auto;
                    height: 100%;
                    display: flex;

                    .smooth-dnd-draggable-wrapper {
                        display: flex;
                        height: auto;
                        padding: 10px 0;

                        .draggable-item {
                            height: 100%;
                            width: 400px;
                            padding: 0;

                            img {
                                object-fit: contain;
                            }
                        }
                    }
                }

                .prev-cmp-filter {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    li.active {
                        box-shadow: inset 0px 14px 0px -10px $primary-clr;
                    }
                }
            }

            &.theme {
                padding-top: 20px;
                gap: 20px;

                img {
                    height: 120px;
                    width: 120px;
                }
            }

            .color-picker-wrapper {
                margin-bottom: 0em;

                >span {
                    display: inline-block;
                    margin-top: 0.5em;
                }

                .color-picker {
                    margin-bottom: 0;
                }
            }
        }

        .section-cmp-editor {
            span.background-color {
                display: inline-block;
                margin-bottom: 0.5em;
            }

            .color-picker {
                margin-bottom: 0.5em;
            }
        }

        .img-cmp-editor {
            padding-top: 10px;
            padding-inline-end: 10px;

            img {
                width: 200px !important;
                max-height: 150px;
                object-fit: cover;
                align-self: flex-end;
                margin: auto;
                margin-bottom: auto;
            }

            .img-replace {
                flex-direction: row-reverse;

                hr {
                    display: none;
                }

                label:first-child {
                    display: inline-block;
                    margin: auto;
                }

                .img-replace-src {
                    p {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: 550px) {

        .edit-options-wrapper{
            height: 150px;
            overflow-y: auto;
            
            .text-format{
                flex-direction: column;
                gap: 5px;
            }

            .img-replace{
                gap:10px
            }
        }
            
        .left-nav {
            background-color: $clr2;
            width: 200px;
            left: 50%;
            bottom: -100px;
            transform: translateX(-50%);
            height: 200px;
            border-radius: 50%;
            transition: 0.3s;

            * {
                color: $clr5 !important;
            }

          
            .app-btn {
                display: inherit;
            }

            .bottom-button {
                display: none;
            }

            >section:first-child {
                position: relative;

                >button:nth-child(1) {
                    position: absolute;
                    transition: 0.3s;
                    order: 1;
                    transform: translateY(-70px);
                }

                >button:nth-child(2) {
                    position: absolute;
                    transition: 0.3s;
                    transform: translate(-50px, -30px);
                    order: 2;
                }

                >button:nth-child(3) {
                    position: absolute;
                    transition: 0.3s;
                    transform: translate(50px, -30px);
                }

                >button:nth-child(4) {
                    transition: 0.3s;
                    transform: translate(0, -20px);
                }
            }
        }

        .left-nav.mobile_close {
            width: 50px;
            left: 50%;
            transform: translate(-50%, -120px);
            height: 50px;

            >section:first-child {
                position: absolute;

                >button:nth-child(1) {
                    order: 1;
                    transform: translateY(0);
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }

                >button:nth-child(2) {
                    transform: translateY(0);
                    order: 2;
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }

                >button:nth-child(3) {
                    transform: translateY(0);
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }

                >button:nth-child(4) {
                    transition: 0.3s;
                    transform: translate(0, 0px);
                }
            }
        }
    }
}

.tooltip {
    @media (max-width: 900px) {
        display: none;
    }
}

.close-editor-icon {
    position: absolute;
    color: #fff;
    top: -63px;
    border-radius: 0 2em 2em 0;
    right: 50%;
    transform: translateX(50%) rotate(-90deg);
    box-shadow: 0 0 2px #3333;
    height: 100px;
    display: flex;
    align-items:center;
    background: rgba(51, 51, 51, 0.899);
    
    // background: red;
    // border-right: 2px solid #3333;
    // padding-inline-end: 5px;
    width: 27px;
    >.arrow{
    font-size: 2em;
    position: absolute;
    transform: translateX(-7px);
}
    >.dote {
        position: absolute;
        transform: translateX(10px);
    }

    @media (min-width: 900px) {
        box-shadow: 0 0 2px #3333;
        right: -27px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 150;
        transition: 0.3s;
    }

}
.options.theme {
    .undo-wrapper{
        width: 100%;
    }
.undo{
    margin-inline-start: 10px;
    display: flex;
    align-items: center;

    button{
        // padding: 0;
    }
}

hr{
    width: 95%;
    color: rgba(51, 51, 51, 0.3333333333);
    opacity: 0.2;
}

}