.main-editor {
    height: 100vh;

    .left-nav{
        // background-color: aqua;
        border-right: 1px solid #3335;
    }

    .options {
        display: flex;
        height: 100vh;
        // background-color: aqua;
        width: clamp(200px, 30vw, 400px);
        border-right: 1px solid #3335;
        .draggable-item:first-child{
            margin-top: 10px;
        }
        .draggable-item{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        img {
            width: 95%;
        
        }
    }


}