.main-editor {
    height:calc(100vh - 180px) .txt-cmps-editor,
    .img-cmp-editor {
        > * {
            padding-inline-start: 10px;
        }

        h2 {
            border-bottom: 1px solid $border-clr;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        // padding: 10px;

        img {
            width: 90%;
            margin: auto;
            margin-bottom: 10px;
        }

        > * {
            margin-bottom: 10px;
        }
    }

    .left-nav {
        // background-color: aqua;
        border-right: 1px solid $border-clr;

        button {
            aspect-ratio: 1/1;
            color: #1c2e3bc9;
            background-color: transparent;
            border-radius: 50%;
            transition: background 0.3s;

            &:hover {
                background: $clr5;
            }

            &.active {
                background: $clr5;
            }
        }

        .bottom-button {
            margin-bottom: 40px;
        }
    }
    .options.active {
        width: clamp(200px, 35vw, 500px);
        transition: all 0.5s;
        opacity: 1;
    }
    .options {
        width: 0;
        opacity: 0;
        transition: all 0.5s;

        position: relative;

        border-right: 1px solid $border-clr;

        h2 {
            padding: 10px;
            border-bottom: 1px solid $border-clr;

            font-weight: bold;
        }

        .prev-cmp-img-container {
            overflow-y: auto;
            height: calc(100vh - 185px);
        }

        .draggable-item {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            padding: 0 5px;
            transition: transform 0.2s;

            &:hover {
                cursor: grab;
                transform: translateY(-0.1875rem);
            }
        }

        img {
            pointer-events: none;
            width: 95%;
        }
        &.theme {
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
            height: calc(100vh - 185px);

            img {
                width: 70%;
                margin-bottom: 1em;
                &:hover {
                    cursor: pointer !important;
                }
            }
        }
    }

    .prev-cmp-wrapper {
        height: 100%;

        .prev-cmp-filter {
            height: 100%;
            background-color: rgb(248, 247, 247);

            > li {
                padding: 7px 10px;
                font-size: 0.9em;
                cursor: pointer;

                &:hover {
                    color: blueviolet;
                }

                &.active {
                    color: blueviolet;
                    box-shadow: inset 14px 0px 0px -10px blueviolet;
                }
            }
        }
    }

    .cmp-editor {
        width: auto;
        border-right: 1px solid $border-clr;
    }

    .cmp-side-editor {
        // border-right: 1px solid $border-clr;
    }
}
