main:has(.wap-list-container){
    padding: 24px;
}

.wap-list-container {
    overflow: hidden;
    // margin-block-start: 3.3giem;
    font-family: inter;
    grid-template-columns: 20px 1fr 20px;

    @media (min-width: 1000px) {
        grid-template-columns: 80px 1fr 80px;
    }
    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1400px 1fr;
    }
    @media (min-width: 1800px) {
        grid-template-columns: 1fr 1600px 1fr;
    }

    h1 {
        font-size: em(16px);
        width: 24pc;
        margin-block: 30px 10px;
        font-weight: 700;
        font-family: inter, Helvetica, Arial, sans-serif;
        border-left: 6px solid $primary-clr;
        padding-inline-start: 10px;
        


        @media (min-width: 350px) {
            width: 30pc;
            font-size: em(26px);
        }
        @media (min-width: 750px) {
            width: 40pc;
            font-size: em(34px);
        }
    }
    h4 {
        font-size: em(12px);
        margin-block-end: 60px;
        font-family: inter, Helvetica, Arial, sans-serif;
        padding-inline-start: 16px;
        // margin: 0 2%;

        @media (min-width: 350px) {
            font-size: em(14px);
        }
        @media (min-width: 750px) {
            font-size: em(16px);
        }
    }

    .wap-list {
        margin-block-start: 20px;
        margin-bottom: 20px;
        grid-gap: 50px;
        display: grid;
        gap: 50px ;
        grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
        justify-content: center;
        // padding: 0 6%;
        li {
            // padding: 10px;
            aspect-ratio: 28/36;
            &:first-child {
                & button:last-child {
                    display: none;
                }
            }
            .wap-preview {
                box-shadow: 5px 3px 5px #3333, -3px -3px 5px #3331;
                border-radius: 0.25em;
                .preview-continue {
                    position: relative;
                    // height: auto;
                    transition: 0.3s;

                    // height: 360px;
                    .wapless {
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: em(20px);
                        font-weight: 900;
                        height: 360px;
                    }

                    img {
                        padding: 4px;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        height: 360px;
                        width: 100%;
                    }

                    .preview-btns {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: absolute;
                        bottom: 0em;
                        background: #0002;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        transition: 0.3s;

                        button {
                            font-size: 1.3em;
                            align-self: center;
                            width: 60%;
                            margin-block-end: 10px;
                            cursor: pointer;
                            border: 1px solid #eee5;
                            background-color: $primary-clr;
                            transition: background 0.3s;
                            color: #eee;

                            &:hover {
                                background: lighten($primary-clr, 10%);
                            }
                        }
                        :first-child {
                            margin-top: 20px;
                        }
                        :last-child {
                            background-color: #eee;
                            color: $clr3;
                            &:hover {
                                color: #eee;
                            }
                        }
                    }

                    // &:hover

                    &:hover {
                        margin-bottom: -0px;

                        .preview-btns {
                            height: calc(100%);
                        }
                    }
                }

                .wap-details {
                    line-height: 2.4em;
                    font-size: 1.2em;
                    padding-inline-start: 6px;
                    max-height: 2.4em;
                    text-transform: capitalize;
                    font-family: oswald;
                    span:first-child {
                        color: $clr3;
                        font-family: comfortaa, sans-serif;
                    }
                }
            }
        }
    }
}
