.edit-container {
    height: 100vh;
    overflow: hidden;
}



section.page-editor {
    overflow-y: auto;
    flex: 1;
    position: relative;
    align-self: center;
    justify-self: center;
    transition: max-width 0.3s, max-height 0.3s, height 0.3s;
    overflow-x: hidden;
    height: calc(100vh - 46px - 76.75px);
    & > div {
        // min-height: 60vh;
    }

    &.mobile-display {
        max-height: clamp(200px, 70vh + 3rem, 90vh );
        border: 16px #28282b solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 16px;
        margin: auto;
    }
   
    
    &.tablet-display {
        max-height: clamp(200px, 70vh + 3rem, 90vh );
        
        border-radius: 16px;
        border: 16px #28282b solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        margin: auto;
    }

    .wap-placeholder {
        position: absolute;
        // background: red;
        width: 100%;
        height: 50vh;
        &::after {
            content: "Drop Sections Here";
            border: 3px dashed #3333;
            position: absolute;
            height: 95%;
            width: 95%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            place-items: center;
            font-size: 3em;
            font-family: Raleway;
        }
    }
}
