.wap-preview {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 20em;
    border-radius: 4%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 4%;
        border-top-right-radius: 4%;
    }

    p {
        font-size: 1.5em;
        font-weight: lighter;
        display: grid;
        place-items: center;
        margin: 0;
        padding: 5px;
    }

    .preview-btns-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .preview-btns {
        position: absolute;
        transition: 0.5s;
        transform: translateX(-50%);
        opacity: 0;


        button {
            border-radius: 0.2em;
            font-size: 1.5em;
            padding: 10px;
            background-color: $clr2 ;
        }

    }


    &:hover .preview-btns-bg {
        display: block;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.6);
    }

    &:hover .preview-btns {
        display: flex;
        opacity: 1;
        flex-direction: column;
        gap: 10px;
        right: 50%;
        bottom: 3em;
        transform: translateX(50%);
    }

    button:hover {
        background-color: rgb(111, 27, 79);

        cursor: pointer;
    }

}