.wap-preview {
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 15em;
    border-radius: 4%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 4%;
        border-top-right-radius: 4%;
    }

    p {
        display: grid;
        place-items: center;
        margin: 0;
        padding: 5px;
    }

    .preview-btns-bg {
width: 100%;
height: 100%;
position: absolute;
        display: none;
    }

    .preview-btns {
    position: absolute;
    display: none;
button{
border-radius:0.5em
}

    }
    &:hover .preview-btns-bg {
        display: block;
        background-color: rgba(255,255,255,0.6);
    }
    &:hover .preview-btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
        right: 50%;
        bottom: 3em;
        transform: translatex(50%);
    }
    button:hover{
        background-color:rgb(111, 27, 79);

    cursor:pointer;
    }

}