.editor-header {
    .logo {
        max-height: em(46px);
        margin-block: 10px;
        margin-inline-start: 15px;
    }
    border-bottom: 1px solid #3335;
}

.editor-top {
    border-bottom: 1px solid #3335;
    margin-block-end: 5px;
    .view-port-editor {
        .icon {
            font-size: em(24px);
            padding: em(5.63px);
            color: #3335;
            border-radius: 50%;
            transition: background 0.3s;
        }

        .icon:hover {
            background: radial-gradient(lighten($clr1, 33%), transparent);
        }
    }

    .dynamic-url {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: rem(16px);
        div {
            color: #3335;
            margin-inline-end: 10px;
        }
        span {
            color: #000;
        }

        > span:first-of-type {
            color: blue;
        }
        > span:last-of-type {
            color: blueviolet;
        }
    }

    .site-preview {
        align-self: center;
        justify-self: end;
        font-weight: 900;

        &::after {
            content: "→";
            opacity: 0;
        }
        
    }
}
