.wap-hero {
    display: grid;
    overflow: hidden;
    font-size: 1rem;
    margin-top: em(10px);
    margin-bottom: em(80px);
    
    .medium & {

        margin-bottom: em(80px);
    }

    >img {
        border-radius: 5px;
    }


    &.bakery {
        grid-template-areas:
            " t  "
            " ml  "
            "  mbr "
            " bl   ";

        background-color: $bakery-pr-clr;
        color: $bakery-bg;

        .small & {
            grid-template-areas:
                "t t "
                "ml ml  "
                " bl mbr  ";
        }

        .medium & {
            grid-template-areas:
                "t t t"
                "ml ml ml "
                " bl mbr mbr ";
        }

        h1 {
            grid-area: t;
            max-width: clamp(16px, 100%, 12em);
            text-transform: capitalize;


            .mobile & {
                
                font-size: em(30px);

            }

            .small & {
                font-size: em(45px);
            }

            .medium & {
                font-size: em(70px);
            }

            .narrow & {
                font-size: em(80px);
            }

            .wide & {
                margin-top: em(5px);
                font-size: em(100px);
            }

        }



        p {
            grid-area: ml;
            max-width: 550px;
            margin-block: 1em;
            font-weight: 300;

            .mobile & {
                font-size: em(16px);
                max-width: em(200px);
            }

            .small & {
                font-size: em(20px);
                max-width: em(200px);
            }

            .medium & {
                font-size: em(30px);
                max-width: em(170px)
            }


        }

        .wap-img.left {
            grid-area: bl;
            align-self: end;
            object-fit: cover;
            overflow: hidden;
            width: 80%;
            height: 80%;
            display: none;

            .small & {
                display: block;
            }


        }

        .wap-img.right {
            grid-area: mbr;
            align-self: end;
            justify-self: end;
            object-fit: cover;
            width: 100%;
            height: 300px;

            .small & {
                height: 400px;
            }

            .medium & {
                height: 500px;
            }

        }

    }


}