.wap-hero {
    display: grid;
    perspective: 10px;
    overflow: hidden;
    padding: em(60px) 0;

    &.bakery {
        grid-template-areas:
            " t t  "
            " ml ml"
            " bl mbr ";
        background-color: $bakery-pr-clr;
        color: $bakery-bg;
        transform-style: preserve-3d;

        h1 {
            grid-area: t;
            font-size: clamp(16px, 4em, 80px);
            width: clamp(16px, 100vw, 800px);
            text-transform: capitalize;
        }

        p {
            grid-area: ml;
            font-size: clamp(12px, 1em, 64px);
            width: clamp(16px, 12em, 550px);
            margin-block: 2.8em;
            font-weight: 300;
        }

        .wap-img.left {
            grid-area: bl;
            width: calc(100% - 5vw);
            height: 90%;
            min-width: 200px;
            align-self: end;
            object-fit: cover;
            padding-block-start: 20%;
            overflow: hidden;
        }

        .wap-img.right {
            grid-area: mbr;
            align-self: end;
            justify-self: end;
            object-fit:cover;
            height: 100%;
            width: 55vw;
            aspect-ratio: 2/1;
            // transform: translateZ(10px) scale(2);
            // height: 100%;
        }
    }

    // &.cars{

    // }
}