.wap-container {
background-repeat: no-repeat;
    &.bakery {

        * {
            color: $text-primary;
        }

        @media (max-width: 650px) {
            flex-direction: column;
        }

        margin-top: clamp(10px, 5%, 50px);
        margin-bottom: clamp(10px, 5%, 50px);

        .wap-card {
            margin-inline-end: 2vw;

            h1 {
                // font-size: calc(1.5em + 1.5vw);
                font-size: 2em;
                margin-bottom: 1em;

            }

            p {
                font-size: 1.2em;
                margin-bottom: 2em;

            }

            button {
                padding: 20px 40px;
                font-size: 1em;
                background-color: transparent;
                border: 1px solid $text-primary;
            }
        }

        &.card-img {
            display: flex;
            justify-content: space-between;
            background-color: $bakery-sc-clr ;
            background-color: $bakery-sc-clr ;

            * {
                color: $clr4
            }

            img {
                width: 100%;
            }

            button:hover {
                color: $bakery-sc-clr ;
            }

        }

        &.img-card {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 20px;

            img {
                object-fit: cover;
                width: 100%;
                aspect-ratio: 3/2;

                @media (min-width: 650px) and (max-width: 950px) {
                    aspect-ratio: 3/4;
                }
            }
        }

        &.card-gallery {
            display: flex;

            * {
                flex: 1;
            }

            .wap-card {
                margin-inline-start: 0;
            }

            .wap-gallery {
                display: grid;
                // grid-template-columns: repeat( 5, 1fr)
                gap: 1em;

                img {
                    max-width: 100%;
                }

                &.four {

                    > :nth-child(1) {
                        grid-column: 2 / 4;
                        grid-row: 2 / 4;
                    }

                    > :nth-child(2) {
                        grid-column: 4 / 7;
                        grid-row: 1 / 4;
                    }

                    > :nth-child(3) {
                        grid-column: 1 / 4;
                        grid-row: 4 / 7
                    }

                    > :nth-child(4) {
                        grid-column: 4 / 6;
                        grid-row: 4 / 6;
                    }
                }

                &.three {

                    > :nth-child(1) {
                        grid-column: 1 / 4;
                        grid-row: 2 / 5;
                    }

                    > :nth-child(2) {
                        grid-column: 4 / 7;
                        grid-row: 1 / 4;
                        height: 100%;
                        object-fit: cover;

                    }

                    > :nth-child(3) {
                        grid-column: 4 / 9;
                        grid-row: 4 / 7
                    }

                }
            }
        }
    }
}