.wap-footer {
    &.bakery {

        color: $bakery-bg ;
        background-color: $bakery-pr-clr;
        height: 12vh;
        p{
        margin: 0;
        }

        .logo{
        font-size: 1.5em;
        }
        .copyright{
    
        font-size: 0.6em;
        white-space: nowrap;
        }

    }
}