.wap-container {
  
    &.bakery {

        * {
            color: $text-primary;
        }

        @media (max-width: 650px) {
            flex-direction: column;
        }

        padding: clamp(10px, 5%, 50px);

        .wap-card {
            margin-inline-start: 2vw;
            margin-inline-end: 2vw;

            h1 {
                font-size: calc(15px + 1.5vw);
                margin-bottom: 1em;

            }

            p {
                margin-bottom: 2em;

            }

            button {
                padding: 20px 40px;
                font-size: 1em;
                background-color: transparent;
                border: 1px solid $text-primary;
            }
        }

        &.img-card {
            display: flex;
            gap: 20px;
          

            img {
                object-fit: cover;
                width: 100%;
                aspect-ratio: 3/2;

                @media (min-width: 650px) and (max-width: 950px) {
                    aspect-ratio: 3/4;
                }
            }

    
        }

    }

}