.wap-footer {
    &.bakery {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        color: $bakery-bg ;
        background-color: $bakery-pr-clr;
        height: 12vh;
        p{
        margin: 0;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:7px;
            width: clamp(10px, 30%, 400px);
            font-size: small;
        }


        div:nth-child(n+2) {
            text-align: right;
            order: 1
        }

        .copyright{
        position: absolute;
        right: 50%;
        transform: translatex(50%);
        bottom: 0px;
        font-size: 0.6em;
        white-space: nowrap;
        }

    }
}