.wap-footer {
    &.bakery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: $bakery-bg;
        background-color: $bakery-pr-clr;
        height: 12vh;
        p {
            margin: 0;
        }

        .logo {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5em;
        }
        .copyright {
            font-size: em(13px);
            white-space: nowrap;
            text-align: center;
        }
    }
}
