.wap-container {

    &.bakery {

        * {
            color: $text-primary;
        }

        @media (max-width: 650px) {
            flex-direction: column;
        }

        padding-top: clamp(10px, 5%, 50px);
        padding-bottom: clamp(10px, 5%, 50px);

        .wap-card {
            margin-inline-start: 2vw;
            margin-inline-end: 2vw;

            h1 {
                font-size: calc(1em + 1.5vw);
                margin-bottom: 1em;

            }

            p {
                font-size: 1.2em;
                margin-bottom: 2em;

            }

            button {
                padding: 20px 40px;
                font-size: 1em;
                background-color: transparent;
                border: 1px solid $text-primary;
            }
        }

        &.card-img {
            display: flex;
            background-color:$bakery-sc-clr ;
            
        }

        &.img-card {
            display: flex;
            gap: 20px;

            img {
                object-fit: cover;
                width: 100%;
                aspect-ratio: 3/2;

                @media (min-width: 650px) and (max-width: 950px) {
                    aspect-ratio: 3/4;
                }
            }
        }

        &.card-gallery {
            display: flex;

            * {
                flex: 1;
            }

            .wap-card{
                margin-inline-start: 0;
            }

            .wap-gallery {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 1em;

                img {
                    max-width: 100%;
                }

                > :nth-child(1) {
                    grid-column: 2 / 4;
                    grid-row: 2 / 4;
                }

                > :nth-child(2) {
                    grid-column: 4 / 7;
                    grid-row: 1 / 4;
                }

                > :nth-child(3) {
                    grid-column: 1 / 4;
                    grid-row: 4 / 7
                }

                > :nth-child(4) {
                    grid-column: 4 / 6;
                    grid-row: 4 / 6;
                }
            }


        }

    }
}