* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: openSans, Helvetica, Arial, sans-serif;
    // line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
    color: $clr5;
}

a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    user-select: none;
    cursor: pointer;
}

header{
    &.main-header{
        padding: 0;
        background-color: transparent;
        * {
            color: $text-primary;
            font-size: 1.1em;
        }
        .logo{
            max-width: 5.19em;
            margin-block: 10px;
            margin-inline-start: 15px;
        }
        nav{
            margin-inline-end: 50px;
        }
        &.home{
            *{
                color:$clr5;
            }
        }
        
    }}

.bakery {
    font-family: workSans-eLight, Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    button{
        transition: 0.3s;
    }
    button:hover {
        background-color: $bakery-pr-clr !important;
        color: $clr6;
        cursor: pointer;
       
    }
}