* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat, Helvetica, Arial, sans-serif;
    // line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: $clr5;
}

a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    user-select: none;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

.bakery {
    font-family: workSans-eLight, Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    button {
        transition: 0.3s;
    }
    button:hover {
        background-color: $bakery-pr-clr !important;
        color: $clr6;
        cursor: pointer;
    }
}
.coffee-shop {
    font-family: raleway, serif, Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    button {
        transition: 0.3s;
    }
    button:hover {
        color: $clr6;
        cursor: pointer;
    }
}

.lily   {
font-family: comfortaa, sans-serif;
font-size: 1rem;
}

.tooltip {
    background: rgba(1, 1, 1, 0.7);
    padding: 10px;
    border-radius: 3px;
    color: #fbfbfb;
    font-family: sans-serif;
    transition: opacity 0.3s;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
    border-radius: 2em;
    background-color: #adb5bd;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #999;
    // border-radius: .2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background: #888;
    box-shadow: inset 0 0 15px #28282b;
    background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    // border-radius: 2em;
    box-shadow: inset 0 0 20px #28282b;
}

.selected1 {
    // border: 5px dashed $primary-clr;
    position: relative;
    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23873DC8FF' stroke-width='6' stroke-dasharray='6%2c 18' stroke-dashoffset='51' stroke-linecap='square'/%3e%3c/svg%3e");
        width: 100%;
        height: 100%;
    }
}

.page-editor *:focus-visible {
    outline: dashed 2px;
    margin-inline: 2px;
}

button {
    border: none;
    cursor: pointer;
}

.drop-placeholder {
    // border: 3px dotted $primary-clr;
    background-image: 
    radial-gradient(rgb(100, 46, 147) 12.8%, transparent 12.8%),
    radial-gradient(rgb(100, 46, 147) 12.8%, transparent 12.8%);
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-color: rgb(255, 255, 255);

}

