* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.material-symbols-outlined{
    user-select: none;
    cursor: pointer;
}