// Font Sizes
.fs12 { font-size: rem(12px); }
.fs14 { font-size: rem(14px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs24 { font-size: rem(24px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }

.text-center {
    text-align: center;
}

// flex helpers

.flex {

    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between
    }
    &.space-around {
        justify-content: space-around
    }
}


// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

//overflow

.overflow{
    overflow: hidden
}

.isDragging{
    cursor:grabbing !important;
}

.movearea {
    transition: 0.1s background-color ease;
    border-radius: 4px;
    cursor: pointer;
    p{
        margin: 0;
        padding: 10px
    }
  }

  .visible { visibility: visible; }
  .invisible { visibility: hidden; }

