// Colors
$clr1: #5a4066;
$clr2: #4f3a65;
$clr3: #7124b4;
$clr4: #070c18;
$clr5: #e0eae6;
$clr6: #fff;

$primary-clr:#c78afb;
$logo-clr: #873dc8;
$hover-clr: #642e93;


$text-primary: #57585d;
$border-clr: #3335;

$bakery-pr-clr: #1c2e3b;
$bakery-sc-clr: #ca8263;
$bakery-bg: #FFFDF9;

$coffee-pr-clr: #92979a;
$coffee-sc-clr: #ca8263;
$coffee-bg: #FFFDF9;

$vendor-pr-clr:#000000;
$vendor-sc-clr:#FFFFFF;
$vendor-hover-clr:#B26E44;




// Breakpoints
$mobile-breakpoint: 560px;
$small-breakpoint: 980px;
$narrow-breakpoint: 1200px;
$medium-breakpoint: 1400px;
$normal-breakpoint: 1600px;
$wide-breakpoint: 1800px;
$x-wide-breakpoint: 2000px;
$xx-wide-breakpoint: 2400px;
$xxx-wide-breakpoint: 2800px;

// TODO: CHANGE COLORS
