// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #070c18;
$clr5: #e0eae6;
$clr6: #fff;

$text-primary: #57585d;

$bakery-pr-clr: #1c2e3b;
$bakery-sc-clr: #ca8263;
$bakery-bg: #FFFDF9;



// Breakpoints
$mobile-breakpoint: 560px;
$small-breakpoint: 820px;
$narrow-breakpoint: 1200px;
$medium-breakpoint: 1400px;
$normal-breakpoint: 1600px;
$wide-breakpoint: 1800px;

// TODO: CHANGE COLORS
