// Colors

:root {
    --polka-bg-image:
      radial-gradient(rgb(100, 46, 147) 12.8%, transparent 12.8%),
      radial-gradient(rgb(100, 46, 147) 12.8%, transparent 12.8%);
    --polka-bg-position: 0px 0px, 8px 8px;
    --polka-bg-size: 16px 16px;
    --polka-bg-color: rgb(255, 255, 255);
  }
  
$clr1: #5a4066;
$clr2: #4f3a65;
$clr3: #7124b4;
$clr4: #070c18;
$clr5: #e0eae6;
$clr6: #fff;

$primary-clr:#c78afb;
$logo-clr: #873dc8;
$hover-clr: #642e93;


$text-primary: #57585d;
$border-clr: #3335;

$bakery-pr-clr: #1c2e3b;
$bakery-sc-clr: #ca8263;
$bakery-bg: #FFFDF9;

$coffee-pr-clr: #83898d;
$coffee-sc-clr: #ca8263;
$coffee-bg: #FFFDF9;
$coffee-hover: #9d8a70;

$vendor-pr-clr:#000000;
$vendor-sc-clr:#FFFFFF;
$vendor-hover-clr:#B26E44;

$Kambucha-pr-clr:#72ccd2;
$Kambucha-sc-clr:#facc75;
$Kambucha-bg:#fff;


$lily-bg:#f8ebe1;
$lily-txt-clr:#333;
$lily-txt-sec-clr:#35221b;

$barber-dark :#262221;
$barber-light:#eee;

$yoga-bg:#f9fafa;
$yoga-headers:rgb(72,174,203);


// Breakpoints
$mobile-breakpoint: 560px;
$small-breakpoint: 650px;
$medium-breakpoint: 750px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1500px;
$x-wide-breakpoint: 2000px;
$xx-wide-breakpoint: 2400px;
$xxx-wide-breakpoint: 2800px;

// TODO: CHANGE COLORS
