.wap-hero-wrapper {
    // background-size: 100%;
    &.kombucha {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center;
        
    }
    font-family: montserrat, sans-serif;
    
    .wap-hero {
        // background-repeat: no-repeat;
        // background-size: cover;
        &.kombucha {
            min-height: 60vh;
            h1 {
                font-family: montserratBold, sans-serif;
                width: 5em;
                color: black;
                font-size: em(40px);
                margin-block-start: 40px;

                @media (min-width: 600px) {
                    font-size: em(60px);
                    margin-block-start: 60px;
                }
            }

            p {
                color: #474747;
                font-size: em(15px);
                width: 300px;

                @media (min-width: 600px) {
                    font-size: 20px;
                    width: 400px;
                }
            }

            button {
                font-family: montserratBold, sans-serif;
                align-self: flex-end;
                background: #fff;
                color: $Kambucha-pr-clr;
                border: 6px solid $Kambucha-pr-clr;
                font-size: em(18px);
                height: 70px;
                width: 140px;
                @media (min-width: 800px) {
                    font-size: em(26px);
                    height: 100px;
                    width: 200px;
                }
            }
        }

        &.nine {
            display: grid;
            margin-inline: auto;
            grid-template-columns: repeat(3, minmax(100px, 0.6fr));
            grid-auto-rows: minmax(100px, 0.6fr);
            padding-block-end: 50px;
            grid-template-areas:
                "header header header"
                "g1 g2 g3"
                "g4 g5 g6"
                "g7 g8 g9"
                "g10 g11 g12";
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            h1 {
                width: 100%;
                grid-area: header;
                text-align: center;
                display: grid;
                place-content: center;
                font-size: 2em;
                margin: 0;
                color: $Kambucha-pr-clr;
                letter-spacing: 0.1em;
                @media (min-width: 800px) {
                    font-size: 4em;
                }
            }
        }
    }
}
