.wap-container-wrapper.barber.menu {
    place-items: center;
    padding-block: 3em;

    >.wap-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
            "header header "
            "p2 p3"
            "p4 p5"
            "p6 p7";
        justify-items: center;
        width: 100%;
        max-width: 1200px;



        .narrow & {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                "header header header"
                "p2 p3 p4"
                "p5 p6 p7";
            gap: 30px 30px;
        }

        >div:first-child>section {
            display: flex;
            text-align: center;

            h1 {
                font-size: 2.5em;
                color: #9f7150;
                margin-bottom: 0.3em;

            }

            p {
                font-family: raleway;
                max-width: 40ch;
                font-size: 1.2em;
                line-height: 1.6;
            }
        }

        >div:not(:first-child) {
            border: 1px dashed #9f7150;
            aspect-ratio: 1/1;
            padding: 0.8em;
            border-radius: 50%;

            .medium & {
                padding: 2em;
            }

            img {
                width: 70px;

                .medium & {
                    width: 100px;
                }
            }

        }


        >div:not(:first-child)>section {
            h1 {
                font-size: 1.1em;
                margin-bottom: 0.5em;

                .medium & {

                    font-size: 1.3em;
                }
            }

            p {
                color: #9f7150;
                letter-spacing: 2px;
            }

            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
        }

        :nth-child(1) {
            grid-area: header;
        }

        :nth-child(2) {
            grid-area: p2;
        }

        :nth-child(3) {
            grid-area: p3;
        }

        :nth-child(4) {
            grid-area: p4;
        }

        :nth-child(5) {
            grid-area: p5;
        }

        :nth-child(6) {
            grid-area: p6;
        }

        :nth-child(7) {
            grid-area: p7;
        }
    }
}

.wap-container-wrapper.barber.about {
    background-color: #1b1e27;
    padding: 3em;

    >section {

        display: flex;
        flex-direction: column-reverse;

        .narrow & {

            flex-direction: row-reverse;
        }

        gap: 3em;

        >div {
            flex-basis: 50%;

            >section {
                height: 100%;

                >section {
                    height: 100%;
                }
            }

            .card-details {
                display: flex;
                flex-direction: column;

                >* {
                    margin-bottom: 1em;
                }

                h1 {
                    color: #9f7150;
                    font-size: 2em;
                }

                p {
                    color: #ffffff80;
                    font-family: raleway, sans-serif;
                    line-height: 1.6;

                    .narrow & {
                        max-width: 40ch;
                    }
                }
            }
        }

        >section {
            flex-basis: 50%;

            img {
                width: 100%;
                height: 100%;
                max-height: 250px;
                object-position: top;
                object-fit: cover;

                .narrow & {
                    max-height: inherit;
                }
            }
        }
    }


}

.wap-container-wrapper.barber.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    .medium &{
        padding: 3em;
    }

    .card-details {
        text-align: center;

        h1 {
            font-size: 2em;
            color: #9f7150;
            margin-bottom: 0.5em;
        }

        p {
            margin-bottom: 1em;
        }
    }

    div:has(.wap-gallery) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wap-gallery {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 100px 200px;
        gap: 0px 0px;
        grid-auto-flow: row;
        width: 100%;
        gap: 1em;
        grid-template-areas:
        "p1 p3 p4"
        "p1 p2 p2"
        "p5 p5 p6";
        
        .small & {
            grid-template-rows: 200px 100px 200px;
        }
        
        .medium & {
            width: 90%;
            gap: 2em;
            grid-template-rows: 300px 200px 300px;
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        >:nth-child(3) {
            grid-area: p1;
        }

        >:nth-child(2) {
            grid-area: p2;
        }

        >:nth-child(1) {
            grid-area: p3;
        }

        >:nth-child(4) {
            grid-area: p4;
        }

        >:nth-child(5) {
            grid-area: p5;
        }

        >:nth-child(6) {
            grid-area: p6;
        }

    }
}