.wap-hero-wrapper.barber {
    >section{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    overflow: hidden;
    height: calc(100vh - 101px);
    img{
        width: 50vh;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.709),0 0 0 100vh rgba(0, 0, 0, 0.709);
    }
}