// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";
@import "basics/animation";
@import "basics/skeleton";
@import "basics/skeleton-tal";




// Components
@import "cmps/app-header";
@import "cmps/user-msg";
@import "cmps/review-list";
@import "cmps/wap-list";
@import "cmps/wap-preview";
@import "cmps/wap-editor";
@import "cmps/wap-top-editor";
@import "cmps/wap";
@import "cmps/color-picker";
@import "cmps/img-editor";


// features components
@import "cmps/features-cmps/contact-form";


// PAGE
@import "pages/home";
@import "pages/dashboard";
@import "pages/login-form";

@import 'basics/global-burger';
// Dynamic
// bakery
@import "wap/bakery/wap-footer";
@import "wap/bakery/wap-header";
@import "wap/bakery/wap-hero";
@import "wap/bakery/wap-container";
@import "wap/bakery/wap-bg-img";
@import "wap/bakery/wap-reviews";

// coffe-shop
@import "wap/coffe-shop/wap-footer";
@import "wap/coffe-shop/wap-header";
@import "wap/coffe-shop/wap-hero";
@import "wap/coffe-shop/wap-container";
@import "wap/coffe-shop/wap-container-doda";
@import "wap/coffe-shop/wap-bg-img";
@import "wap/coffe-shop/wap-reviews";
@import 'wap/coffe-shop/wap-form';

//Kambucha

@import 'wap/Kambucha/wap-header';
@import 'wap/Kambucha/wap-hero';
@import 'wap/Kambucha/wap-container';
@import 'wap/Kambucha/form';



// Lily
@import 'wap/Lily/wap-header';
@import 'wap/Lily/wap-hero';
@import 'wap/Lily/wap-container';

